body, .ionic-body{
/* 	font-family: "microsoft yahei",Tahoma,sans-serif; */
	 font: normal 100% "microsoft yahei",Tahoma,sans-serif;
}


/*背景色*/
ion-nav-view {
    background-color: #f6f6f6;
}

/*首页广告栏*/
.slider-pager .slider-pager-page{
	width:10px;
	height:10px;
	background:url('../img/no-active.png') no-repeat;
}

.slider-pager .active{
	background:url('../img/active.png') no-repeat;
}

/*标题栏开始*/
.dp-bar {
    height: 43px;
    border-bottom: 0px;
    background-color: #373c64 !important;
}

.dp-bar-home {
    width: 72px;
    height: 33px !important;
    margin-left: 90%;
    margin-right: auto !important;
    margin-top: 5px !important;
    background: url('../img/logo.png') no-repeat;
    background-size: 72px 33px;
}

.dp-icon-back {
    z-index: 1;
/*     margin: -6px; */
    width: 50px;
    height: 43px;
    display:block;
    background-size: 33px 44px;
}

.bar .title {
    font-size: 1.38em;
    font-weight: 900;
    color: #ffffff !important;
}

.dp-nav-a{
    margin-right: 30px;
    text-decoration: none;
}
.dp-nav-a .icon{
    color:#ffffff ! important;
}
.dp-nav-icon{
    color:#ffffff ! important;
}
/*总的文本背景色*/
ion-content{
    background-color: #f6f6f6 ! important
}
/*网点查询*/
.dp-content-net{
    padding-top: 43px;
}

.docList,.history{
	min-height:35px;
	line-height:35px;
	border-radius:5px;
}

.lists{
	width:90%;
	margin-left:5%;
	margin-top:20px;
/* 	float:left; */
}

.lists .input-label{
	padding:0px;
	max-width:100%;
	width:100%;
}

.lists .address{
	width:100%;
	height:40px;
	border:1px solid #cacaca;
	background:url(../img/ic_area.png) no-repeat 100% 5px;
	background-size:30px 30px;
	border-radius:5px;
	padding-left:5px;
}

.account{
	width:90%;
	margin-left:5%;
	margin-top:15px;
/* 	float:left; */
	margin-bottom:90px;
}

.account .account-label{
	padding:0px;
	border:1px solid #cacaca;
	border-radius:5px;
	width:70%;
	float:left;
}

.account .account-input{
	height:38px;
	width:100%;
	flex: none;
	padding-right:0px;
	padding-left:5px;
}

.account .searshBtn{
	border:5px;
	top:2px;
	position: relative;
	float:right;
	right:0px;
	background:url('../img/bgBtn.png') repeat 0px -2px;
}

.branches{
	width:100%;
/* 	float:left; */
	margin-top:-15px;
}

.item-padding{
	padding:0px;
}

.itemBranches{
	width:90%;
/* 	float:left; */
	margin-left:5%;
	position: relative;
	border:1px solid #cacaca;
	margin-top:5px;
	margin-bottom:15px;
	border-radius:3px;
	padding:0px;
	background-color:#fff;
}

.itemBranches .item{
	width:98%;
	margin-left:1%;
	border:none;
	margin-top:2px;
}

.btnCenter{
	text-align:center;
}

.addBtnBg{
	width:90%;
	height:30px;
	border-radius:3px;
	background:url('../img/bgBtn.png') repeat 0px -2px;;
}

/*内容栏*/
.dp-content{
    min-height: 100%;
    padding-top: 86px;
    padding-left: 3.7%;
    padding-right: 3.7%;
    padding-bottom: 15px;
}
/*内容栏 无上边距*/
.dp-content-notop{
    min-height: 100%;
    padding-top: 36px;
    padding-left: 3.7%;
    padding-right: 3.7%;
    padding-bottom: 15px;
}

/*市场活动*/
.row{
	padding:0px;
/* 	border-top:1px solid #ddd; */
/* 	border-bottom:1px solid #ddd; */
	margin-top:5px;
}

.firstRow{
	border-top:1px solid #ddd;
}

.row + .row{
	margin-top:0px;
}

.row .col .item{
	border:none;
	margin:0px;
}

.dp-home-activity .market{
	padding:0px;
}

/*产品介绍*/
.dp-content-list{
	padding-top:70px;
}

.dp-content .item-margin-bottom{
	margin-bottom:30px;
}

.row .col .borderItem{
	border-right:1px solid #ddd;
}

.row .lastItem{
/* 	border-bottom:1px solid #ddd; */
}

.me-home-menu .row{
    padding: 0px;
}
.me-home-menu .row a{
   padding:7px;
}
.me-home-menu .row .col{
    padding: 0px;
}
.me-home-menu .row .col .borders{
	border-top:1px solid #ddd;
}
.me-home-menu .row .col .borderRight{
	border-right:1px solid #ddd;
}


.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
top: 18%; 
max-height: 65px;
max-width: 65px;
}

.item-thumbnail-left, .item-thumbnail-left .item-content {
min-height: 70px;
}

.item, .item-thumbnail-left, .borderItem p{margin: 0 0 5px;}
.item, .item-thumbnail-left p{margin: 0 0 5px;}

.item, .item-thumbnail-left, .borderItem b{font-size: 14px;color: #313131;}






/*底部选项卡开始*/
.tabs {
    height: 50px;
    padding-top: 0px;
    background: url('../img/section_bg.png') repeat-x !important;
}

.dp-icon-home-on {
    background: url('../img/ic_root_menu_on0.png') no-repeat;
}

.dp-icon-home-off {
    background: url('../img/ic_root_menu_off0.png') no-repeat;
}

.dp-icon-bill-on {
    background: url('../img/ic_root_menu_on1.png') no-repeat;
}

.dp-icon-bill-off {
    background: url('../img/ic_root_menu_off1.png') no-repeat;
}

.dp-icon-my-on {
    background: url('../img/ic_root_menu_on2.png') no-repeat;
}

.dp-icon-my-off {
    background: url('../img/ic_root_menu_off2.png') no-repeat;
}

.dp-icon-help-on {
    background: url('../img/ic_root_menu_on3.png') no-repeat;
}

.dp-icon-help-off {
    background: url('../img/ic_root_menu_off3.png') no-repeat;
}

.dp-icon-home-on, .dp-icon-home-off, .dp-icon-bill-on, .dp-icon-bill-off, .dp-icon-my-on, .dp-icon-my-off, .dp-icon-help-on, .dp-icon-help-off {
    width: 56px;
    height: 46px !important;
    background-size: 56px 46px;
}



/*激活状态*/
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    background-color: #000000;
}

/*底部选项卡结束*/

/*滑块*/
.dp-home-slide {
    width: 100%;
    height: 100%;
}

.dp-home-slide .img{
	height:0px;
}

.dp-home-slide img {
    width: 100%;
}

/*滑点*/
.slider-pager .slider-pager-page.active {
    color: #f0b840;
}

/*按钮组开始*/
.dp-home-buttons a {
    width: 100%;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
    font-weight: 900;
}

.button.button-light.active, .button.button-light.activated {
    background-color: #f5f5f5;
}

.dp-icon-order {
    background: url('../img/index_ic_order.png') no-repeat;
}

.dp-icon-search {
    background: url('../img/index_ic_search.png') no-repeat;
}

.dp-icon-coupon {
    background: url('../img/index_ic_coupon.png') no-repeat;
}

.dp-icon-branch {
    background: url('../img/index_ic_branch.png') no-repeat;
}

/*运单按钮*/
.dp-icon-anchor-point {
    background: url('../img/index_ic_anchor_point.png') no-repeat;
}

.dp-icon-order, .dp-icon-search, .dp-icon-coupon, .dp-icon-branch, .dp-icon-anchor-point {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 50%;
    margin-top: -13px;
    background-size: 26px 26px;
}
.dp-track-content{
    padding-top: 86px;
    height: 100%;
    background-color: #f6f6f6;
}
/*按钮组结束*/

/*地图开始*/
.dp-map-content,.dp-map-scroll .scroll,.dp-map{
    /*height: 100%;*/
}
.dp-map-content{
    padding-top: 86px;
}
.dp-map-padding{
    padding-left: 3.7%;
    padding-right: 3.7%;
}

.nonePadding{
	padding:0px;
}

.dp-map-switch{
    background-color:#2B2C4B !important;
    color:#fff !important;
}
.dp-map-branches{
    position: absolute;
    width: 100%;
    bottom: 0px;
}
/*地图结束*/

/*我的德邦*/
.dp-item, .dp-item .row {
    padding: 0px;
}

.dp-item-icon-right {
    top: 50% !important;
    /*margin-top: -8px;*/
    background: url('../img/ic_item_link_large.png') no-repeat;
}

.express-text-title{
    font-size: 6px;
    font-weight: bold;
    height: 12px;
}

.express-text{
    font-size: 10px;
    height: 400px;
    vertical-align: middle;
}

.express-div-border {
    border-left: 0;
}

.dp-remove-padding{
	padding:0px 3.7%;
}

.dp-check-button{
	margin-bottom:50px;
	padding:0px 3.7%;
}

.left-title{
	padding-right:5%;
}

.list-no-border{
	margin-bottom:0px;
}


/*wangang------------------------------------start*/

.dp-index-home{
	min-height: 100%;
    padding-top: 44px;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 15px;
}

/*德邦产品列表*/
.dp-home-product .col{
    padding: 0px;
    border-top:1px solid #ddd;
}
.dp-home-product .item-thumbnail-left {
    padding-left: 45%;
}
.dp-home-product img {
    width: 30% !important;
}

/*功能菜单选项*/
.item p{
    font-size:10pt;
}

.item-thumbnail-top p{
/*     font-weight: bold; */
}

.dp-home-menu2{
position: absolute;
top: 39px;
left: 0;
right: 0;
}
.dp-home-menu3{
position: fixed;
left: 0;
right: 0;
}
.dp-home-menu2 .col,.dp-home-menu3 .col{
    padding: 0px !important;
    width: 100% !important;
}
.dp-home-menu2 .row,.dp-home-menu3 .row{
    padding: 0px !important;
    width: 100% !important;
}
.dp-home-menu2 img,.dp-home-menu3 img{
/*     width: 50% !important; */
/*     height:50% !important; */
    width:35px !important;
	height:31px !important;
}


.dp-home-menu .col{
    padding: 0px;
    width: 100%;
}
.dp-home-menu .row{
    padding: 0px;
    width: 100%;
}

.item p{
	font-size:1.0em;
}

.dp-home-menu .row .col .item,.dp-home-menu2 .row .col .item{
	border-top:1px solid #ddd; 
	border-left:1px solid #ddd;
}

.dp-home-menu .row .col .firstItem{
	border-top:none;
}

.dp-home-menu img{
/*     width: 40% !important; */
/*     height:40% !important; */
	width:35px !important;
	height:31px !important;
}

/*活动列表选项*/
.dp-home-activity .col{
/*     padding: 0px; */
    width: 100%;
}
.dp-home-activity .img{
    width: 100% !important;
}
/*wanggang-----------------------------------end*/


/*快递收发范围模板 start=======*/
.dp-receive-list label:nth-child(1){
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-right: 5% !important;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #CECFCF;
    background-color: #ffffff;
}
.dp-receive-list p{
    margin-top: 20px ;
    margin-bottom: 15px ;
    margin-left: 2%;
    font-weight: bold;
}

.dp-receive-list input{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3.5%;
    padding-right: 1%;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #CECFCF;
    background-color: #ffffff;
}
.dp-input{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3.5%;
    padding-right: 3.5%;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #CECFCF;
    background-color: #ffffff;
}
/* .dp-receive-list select{ */
/*     float: left; */
/*     height: 34px; */
/*     padding-top: 1px; */
/*     padding-bottom: 1px; */
/*     padding-left: 3.5%; */
/*     padding-right: 1%; */
/*     border-style: solid; */
/*     border-radius: 6px; */
/*     border-width: 1px; */
/*     border-color: #454545; */
/*     background-color: #ffffff; */
/*     min-height:34px; */
/* } */

.dp-receive-list select{
    width: 100%;
    float: left;
    border: 0px;
     border-radius: 6px;
}

.dp-receive-list label b{
    width: 60%;
}

.dp-receive-list div b{
    width: 60%;
}

.dp-receive-list .inputArea{
    width: 60%;
}

.item .introduction{
	font-size:0.9em
}

@media screen and (max-device-width: 320px) { 
	.item p{
		font-size:0.8em;
	}
	
	.item-icon-right .icon {
		right: 2%;
	}
	.dp-receive-list label b{
    	width: 55%;
	}

	.dp-receive-list div b{
    	width: 55%;
	}

	.dp-receive-list .inputArea{
   		 width: 55%;
	}
	
	.item .introduction{
		font-size:0.8em
	}
}  

.item-icon-right .pointer-icon{
	right:11px;
}

.dp-div{
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 3.5%;
/*     padding-right: 6%; */
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #CECFCF;
    background-color: #ffffff;
}
.dp-label-margintop{
   margin-top: 5px;
}
.dp-required {
	color: red;
	width:10px;
}
.dp-text-padding {
	padding-left: 10px;
}
.dp-text-width {
	width:70px;
}
.dp-text-width2 {
    width:80px;
}
.item-input3 {
    float: left;
    width:50% !important;
/*     margin-left: 20px; */
}
.item-input2 {
    float: left;
    width:45% !important;
    margin-right:5%;
}
.dp-receive-list label i img{
    width: 57%;
    height: 27px;

    float: right;
}
a.item2 {
    padding-left: 10px;
    color: inherit;
    text-decoration: none;
}
a.item2:hover, a.item2:focus {
    padding-left: 10px;
    text-decoration: none;
}
/*个人资料中的边距*/
.dp-content-list .marginTop{
    margin-bottom: 10px;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #d9d9d9;
    padding-top: 15px;
    margin-left: 3.7%;
	width: 92.6%;
}

.dp-receive-list label i {
    right: 0% ! important;
}
.dp-receive-list span i {
    right: 0% ! important;
}
/*快递收发范围模板 end======*/
.arginTop{
    margin-bottom: 10px;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #d9d9d9;
}

/*个人资料中的button*/
.dp-content-list .item .button{
    width:90%;
    float:right;
    display: block;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #FBE57F;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFCB00), color-stop(0.5, #FFA300),color-stop(0.5, #FF9C00));
}

/*个人资料中的手机号*/
.dp-content-list .row .shouji{
    padding-top: 13px;
}

/*wuyingjie----------------------------------------------------*/
/*间隔型表单样式*/
.dp-content-list{
    background-color: #f6F6F6 ! important;
}
.dp-content-list label{
    height: 45px;
    margin-top: 20px;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #d7d7d7;
    background-color: #ffffff;
}
.dp-content-list label:nth-child(1){
    margin-top: 0 ! important;
}

/*快递收发范围模板 start=======*/
.dp-receive-list label:nth-child(1){
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5% !important;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #CECFCF;
    background-color: #ffffff;
}
.dp-receive-list p{
    margin-top: 20px ;
    margin-bottom: 15px ;
    margin-left: 2%;
    font-weight: bold;
    font-family: #959595;
}
.dp-receive-list label{
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 3.5%;
    padding-right: 6%;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #CECFCF;
    background-color: #ffffff;
}
.p-angle-bending{
    margin-bottom: 15px ;
    margin-left: 2%;
    font-weight: bold;
}
.p-angle-bending-text{
    margin-bottom: 15px ;
    margin-left: 2%;
}
.p-angle-bending-text33{
    margin-bottom: 15px ;
}
/*四角弯曲*/
.angle-bending{
	margin-bottom:10px;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 3.5%;
    padding-right: 3.5%;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #CECFCF;
    background-color: #ffffff;
}
.angle-bending2{
    padding-left: 3.5%;
    padding-right: 3.5%;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #CECFCF;
    background-color: #ffffff;
}
/*四角弯曲*/
.angle-textarea{
    margin-bottom:10px;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 3.5%;
    padding-right: 3.5%;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #CECFCF;
    background-color: #ffffff;
}
.dp-div-border {
    margion-left: -100px;
    padding-right: -100px;
    border:solid 1px #CECFCF
}
.dp-receive-list label i img{
    width: 57%;
    height: 30px;
    float: right;
}
.dp-receive-list label i{
    right: 0% ! important;
}

.item-note {
    width: 100%;
}
.dashed{
    border-left: 1px dashed #d4d4d4;
}
/*快递收发范围模板 end======*/

/*checckbox样式*/
.dp-check{
    margin-top: 27px;
}
.dp-check input{
    height: 18px;
    width: 18px;
    float: left;
}
.dp-check a{
    color: #83B8F2;
    border-style: solid;
    border-bottom-width: 1px;
    border-color: #83B8F2;
}
.dp-check span{
    margin-left: 1.5%;
}
/*登陆注册按钮*/
.dp-long-button{
    height: 40px;
    width: 100%;
    margin-top: 30px ! important;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #FBE57F;
    background-color:#FFCB00;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFCB00), color-stop(0.5, #FFA300),color-stop(0.5, #FF9C00));
}
.dp-order-button{
    height: 40px;
    width: 45%;
    margin-top: 30px ! important;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #FBE57F;
    background-color:#FFCB00;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFCB00), color-stop(0.5, #FFA300),color-stop(0.5, #FF9C00));
}
.center{
	  text-align: center;
	  margin-top: 50px;
	  margin-bottom: 50px;
	  font-size: 1.2em;
}
.center2{
	  text-align: center;
	  margin-top: 10px;
	  margin-bottom: 20px;
}
.item-height{
	height:55px;
}
/*表单底部*/
.dp-content-footer{
    margin-top: 30px;
}
.dp-content-footer a img{
    float: right;
    display: block;
/*     width: 20%; */
	width:81px;
/*     height :15px; */
    margin-top: 5px;
}


/*整体型列表*/
.dp-list{
    margin-bottom: 0 ! important;
    padding-left: 5%;
    padding-right: 5%;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #d7d7d7;
    background-color: #ffffff;
}
.dp-list .item{
    margin-top: -2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-width: 1px;
    border-color: #d7d7d7;
}
.dp-register-input{
    width: 150%;
}
/*三分格*/
.dp-input-button{
    padding-top: 0px ! important;
    padding-bottom: 0px ! important;
    padding-left: 54px;
}
.dp-item-input{
    float: left;
}
.dp-input-button .row{
    padding: 0;
    height: 55px;
}
.dp-input-button .row .col{
     padding-left: 0px ;
     padding-top: 8px ;
}
/*三分格中按钮样式*/
.dp-input-button .row div:nth-child(2){
    padding: 2px ! important;
    border-style: solid;
    border-left-width: 1.5px;
    border-color: #d7d7d7;
}
.dp-input-button .row .col button{
    width: 100%;
    height: 47px;
    float: right;
    display: block;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #FBE57F;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFCB00), color-stop(0.5, #FFA300),color-stop(0.5, #FF9C00));
}
/*贴图尺寸*/
.dp-item-icon img{
/*     width: 70%; */
/*     height: 23px; */
	width:25px;
	height:18px;
}
/*提示框*/
.dp-market{
    margin-top: 10px;
    font-size: 12px;
    color: #FD3030;
}
/*wuyingjie end---------------------------------------------------------------------------*/
.align-center {
    text-align:center;
}
/*底部footer*/
.dp-footer-style{
    height:110px;
    padding-top:18px ;
    padding-bottom: 10px;
    border-style: solid;
    border-top-width: 1px;
    border-color: #ddd;
}
.dp-footer {
    margin: auto ! important;
    text-align:center;
}
.dp-footer div{
    padding-top: 8px;
}
.dp-footer div:nth-child(1){
    padding-top: 0px!important;
}
.dp-footer a {
    text-decoration: NONE;
    padding-left:12px;
    padding-right:12px;
}

.dp-footer img{
    width: 5em!important;
}

.hotline {
    font-size: 12px;
    color: #959595;
}

.dp-content .yuanjiao{
	border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #d9d9d9;
}

.dp-content .list .marginBottom{
    margin-bottom: 40px;
}
/**德邦协议*/
.dp-agree{
  margin-top: 70px;
  margin-left: 3.7%;
  margin-right: 3.7%;
}
.dp-agree p{
    color: #959595;
}
.dp-agree h3{
    margin-bottom: 17px;
    color: #313131;
    text-align: center;
}
.bgContentColor {
    background-color:#f6f6f6;
    width:100%;
    margin-left:0px;
}
/*城市控件*/
.addressContent{
	width:100%;
	padding:0px;
}


.addressContent .list{
	background-color:#f6f6f6;
	width:100%;
	margin-left:0px;
}

.addressContent .item{
	width:100%;
	background-color:#f6f6f6;
	padding:0px;
	border-right:none;
	border-bottom:1px solid #f6f6f6;
	overflow:hidden;
}

.addressContent .hotCitys,.addressContent .hospital{
	padding-top:20px;
	padding-left:20px;
	padding-bottom:10px;
}

.hosAddress{
	width:33.3%;
	float:left;
}

.fontColor{
	color:#525252 !important;
}

/*设置字体大小*/
@media screen and (max-device-width: 320px) { .fontSize{ font-size:0.9em !important; }  }  


/*市场活动列表*/
.market-content{
	background-color:#f6f6f6 !important;
	padding-top:60px;
}

.market{
	border-right:1px solid #ddd;
}

.market-content .market-list{
	padding:0px;
	border-right:none;
}

.market-content .market-list .padLeft{
	padding-left:10px;
}

.market-content .market-list h3.padLeft{
	font-size:20px;
	padding-top:10px
}

.market-content .market-list p.padLeft{
	font-size:12px;
	padding-bottom:10px;
}

/* 我的订单详情 */
.roo .col-50{
	white-space : nowrap;
	overflow : hidden;
	text-overflow:ellipsis;
}
.inpu{
    width:90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.inpu input{
    width: 90%;
}
.butt{
    width: 100%;
    background-color: #ffaa01;
    border-color: #ffaa01;
    border-radius: 5px;
    color: #201300;
    font-size: 16px;

}
.item .bor{
    font-size: 1em;
    color: #1d1d1b;
/*     font-family: "宋体"; */
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    background-color:#fff;
    padding:5px 0px;
}
.bor li{
    padding:5px 0 5px 10px;
}
.bor .sou{
    margin-top: 10px;
    max-width:50%;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.bor .souJ{
    padding-left: 45px;
    max-width:95%;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.xd{
    text-align: center;
    margin: 30px 0;
}
.xd .b1,.xd .b2{
    width: 45%;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 5px;
}
.xd .b1{
    /*background-color: #ff9c00;*/
    background: rgba(255,156,0,0.8);
}
.xd .b2{
    background: rgb(255,156,0);
    opacity: 0.5;
}/* end 我的订单详情---------------------------------------------------------*/

/*收货人选择器*/
.dp-select-reciever{
    padding-top: 50px;
    background-color: #F5F5F5 !important;
}
.dp-select-reciever-content{
    padding: 5px;
    padding-top: 0px;
    margin-left: 3.7%;
    margin-right: 3.7%;
    margin-bottom: 10px;
    margin-top: 10px;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #ddd;
    background-color: #ffffff !important;
}
.select-reciever-font{
    font-size: 1.2em;
}
.dp-select-reciever-content p{
    font-size: 1.0em;
}
/*******************************/


.otherBar{
	border-bottom: 0!important;
	background-size: 0;
}

.slider-pager{
	bottom:10px;
}

.dp-receive-list input.bgColor{
	border-color: #454545;
}

.dp-priceResult-content{
	padding:0px;
}

.dp-padding{
	padding:60px 5%;
}

.dp-span-color {
	color:#878787;
}

.dp-span-color b{
	color:#202020;
}

.calculate{
	color:#000;
	font-size:1.2em;
}

.qwe{
    height: 40px!important;
    background: #0ffff1;
}

.select-box{
    height: 25pt;
    padding-top: 6px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 6px;
    border: 1px solid #454545;
    background-color: #ffffff;
    position: relative;
}
.select-box select{
    background-color: rgba(255,255,255,0);
}
.select-box img{
    position: absolute;
    right: 6px;
    top: 11px;
    width: 12px;
    height: 10px;
}
/*发货人管理*/
.people-message-list{
	padding:0px;
	margin-top:15px;
}

.people-message-list .mess-list{
	margin-top:0px;
}

.people-message-list .operation{
	margin-top:10px;
}

.people-message-list .operation .operation-btn{
	border-bottom:none;
	border-left:none;
	padding:8px;
}

.people-message-list .operation .operation-delete{
	border-right:none;
}

/*个人资料*/
.dp-item-padding{
	padding-left:3.5%;
}

.dp-check-btn{
	margin-bottom:50px;
}

.item-input,.item{
	overflow: visible;
}

/*************start 网点查询cao******************/
.dp-map-dotquery{
	background: #e0e1e3;
	padding: 4px 0 8px;
}
.dp-map-dotquery:after{clear:both;content:'';dispaly:block;}
.dp-map-dotquery label{background:transparent;}
.dp-map-dotquery .name{padding:8px 6px;font-size:16px;margin: 10px 20px;border-radius: 4px;}
.dp-map-dotquery .col.dp-col{border:none;padding:0px 5px 0px 20px;display: -webkit-box;display: -webkit-flex;display: flex;}
.dp-map-dotquery .col.dp-col img{margin-right:6px;}
.dp-map-dotquery .item h2{font-size:12px;}
.dp-map-dotquery .item-input{padding: 1px 0 2px 16px;}
.pop{display:inline-block;padding: 10px;border-radius: 4px;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFCB00), color-stop(0.5, #FFA300),color-stop(0.5, #FF9C00));}
/*************end 网点查询cao******************/
/*定义modal样式*/
.modal{
    width:100%!important;
    height:100%!important;
    margin:0!important;
    top:0!important;
    left:0!important;
    right:0!important;
}
/**设置提示框*/
.loading-container .loading{
    background-color: rgba(255,255,255,0) !important;
    padding: 0 !important;
}
.scroll-content {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
overflow: hidden;
margin-top: -1px;
padding-top: 1px;
width: auto;
height: auto;
}
/*confirm系统样式*/
.popup {
    border-radius: 5px !important;
}
.popup-buttons .button {
    border-style: solid !important;
    border-width: 1px !important;
    /*border: 1px solid #000000 !important;*/
    border-radius: 5px !important;
    background-color: #FFCB00 !important;
    color: #000000 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFCB00), color-stop(0.5, #FFA300),color-stop(0.5, #FF9C00));
}
.loading {
    text-align: left !important;
}
/*我的德邦*/
.dp-content-list .senderManager{
	border-bottom:none;
	border-radius:6px 6px 0px 0px;
}

.dp-content-list .receiverManager{
	border-radius:0px;
}

.dp-content-list .myOrder{
	border-top:none;
	border-radius:0px 0px 6px 6px;
}

.item2 {
    padding-left: 10px;
    color: inherit;
    text-decoration: none;
}
.load-img{
	width:60%;
}