<ion-modal-view>
    <ion-view dp-nav-modal="closeReceiverModal()" dp-nav-title="{{receiveTitle}}地址列表">
    <ion-content  class="dp-select-reciever" style="padding-top:50px;">
        <div  dp-content-footer>
            <div ng-repeat="user in users" ng-show="sendT">
              <a  ng-click="recieverGo('{{user.consignorName}}','{{user.consignorPhone}}','{{user.addrProCity}}','{{user.consignorAddress}}')">
               <div class="item dp-select-reciever-content">
                 <div class="row">
                    <div class="col">
                        <b class="select-reciever-font">{{user.consignorName}}</b>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col">
                         <p>手机号：{{user.consignorPhone}}</p>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col">
                        <p> 省市区：{{user.addrProCity}}</p>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col">
                        <p> 地址：{{user.consignorAddress}}</p>
                    </div>
                 </div>
               </div>
              </a>
           </div>
           <div ng-repeat="user in users" ng-show="receiveT">
              <a  ng-click="recieverGo('{{user.consigneeName}}','{{user.cellPhone}}','{{user.addrProCity}}','{{user.address}}')">
               <div class="item dp-select-reciever-content">
                 <div class="row">
                    <div class="col">
                        <b class="select-reciever-font">{{user.consigneeName}}</b>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col">
                         <p>手机号：{{user.cellPhone}}</p>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col">
                        <p> 省市区：{{user.addrProCity}}</p>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col">
                        <p> 地址：{{user.address}}</p>
                    </div>
                 </div>
               </div>
              </a>
           </div>
           <ion-infinite-scroll
                ng-if="hasMoreData()"
                on-infinite="loadReceiveModalMore()"
                icon="ion-loading-c"
                distance="1%">
    		</ion-infinite-scroll>
           <div class="center">{{nullUser==true?"无更多信息！":""}}</div>
      </div>
    </ion-content>
    </ion-view>
</ion-modal-view>
<div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  