<!DOCTYPE html>
<html>
<head>
    <title>德邦订单管理，订单管理首页 -德邦</title>
    <meta name="keywords" content="订单管理，订单查询，德邦物流订单管理，95353">
    <meta name="description" content="订单管理页面，客户根据所需要的条件查询出订单信息">
</head>
<body>
<ion-view dp-nav-href="#/myDeppon" dp-nav-title="我的订单" load-compent="isShow">
        <ion-content class="dp-content" style="padding:70px 0 15px;">
            <div hello=""></div>
     <div class="list dp-content-list dp-remove-padding">
         <label class="item-input">
            <input type="text" name="name" placeholder="请输入运单号/收货人/手机/到达城市" ng-model="area.name"
             required style="font-size:1.07em;">
		</label>
         <div class="dp-market" name="market"></div>
         <button class="button button-full dp-long-button" ng-click="selectMyOrders(0)" style="margin-bottom:30px;font-size:14px;">
             <b style="font-size:1.23em;">查&nbsp;&nbsp;询</b>
         </button>
	</div>
    <div class="dp-content-list dp-remove-padding">
        <div class="angle-bending" ng-click="myOrderList($index,item.orderNumber,item.orderStatus,item.waybillNumber)" ng-repeat="item in myorders" style="font-size:14px;">
            <div class="row" style="font-size:1em;">
                <div class="col">
                    {{item.createTime|date:'yyyy-MM-dd HH:mm'}}  &nbsp;&nbsp;&nbsp;{{item.receiverCustName}}
                </div>
            </div>
            <div class="row" style="font-size:1em;">
                <div class="col col-67">
                    订单号：{{item.orderNumber}}
                </div>
                <div class="col col-33">
                    <span ng-switch on="item.orderStatus">
                       <span ng-switch-when='WAIT_ALLOT'>待受理</span>
                       <span ng-switch-when='WAIT_ACCEPT'>待受理</span>
                       <span ng-switch-when='ACCEPT'>已受理</span>
                       <span ng-switch-when='CANCEL'>已撤销</span>
                       <span ng-switch-when='REJECT'>已拒绝</span>
                       <span ng-switch-when='GOT'>运输中</span>
                       <span ng-switch-when='IN_TRANSIT'>运输中</span>
                       <span ng-switch-when='SIGNSUCCESS'>正常签收</span>
                       <span ng-switch-when='SIGNFAIL'>异常签收</span>
                       <span ng-switch-when='FAILGOT'>揽货失败</span>
                       <span ng-switch-when='SHOUTCAR'>已约车</span>
                       <span ng-switch-when='RECEIPTING'>接货中</span>
                       <span ng-switch-when='GOBACK'>已受理</span>
                    </span>
                </div>
            </div>
            <div class="row" style="font-size:1em;">
                <div class="col col-67">
                    运单号：{{item.waybillNumber}}
                </div>
                <div class="col col-33">
                     {{item.contactCity==null||item.contactCity=='null'||item.contactCity=='undefined'?"":(item.contactCity|limitTo:item.contactCity.indexOf("-"))==null||(item.contactCity|limitTo:item.contactCity.indexOf("-"))=='null'||(item.contactCity|limitTo:item.contactCity.indexOf("-"))=='undefined'?"":item.contactCity|limitTo:item.contactCity.indexOf("-")}}--{{item.receiverCustCity==null||item.receiverCustCity=='null'||item.receiverCustCity=='undefined'?"":(item.receiverCustCity|limitTo:item.receiverCustCity.indexOf("-"))==null||(item.receiverCustCity|limitTo:item.receiverCustCity.indexOf("-"))=='null'||(item.receiverCustCity|limitTo:item.receiverCustCity.indexOf("-"))=='undefined'?"":item.receiverCustCity|limitTo:item.receiverCustCity.indexOf("-")}}
                </div>
            </div>
    </div>
    <ion-infinite-scroll
                ng-if="hasMoreData()"
                on-infinite="loadMore()"
                icon="ion-loading-c"
                distance="5%">
    </ion-infinite-scroll>
    <div style="text-align: center;margin-top: 40px"><p style="color:#3194FE;">{{nullOrder==true?"亲，您还没有发件哦":""}}</p></div>
        <div style="text-align: center;margin-top: 40px"><p style="color:#3194FE;" ng-bind="loadMoreWord"></p></div>
     </div><div dp-content-footer></div>

  </ion-content>
</ion-view>
 <div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  
</body>
</html>
