<ion-view  dp-nav-href="#/myOrder" dp-nav-title="订单详情" load-compent="isShow">
    <ion-content class="dp-content" style="padding: 55px 10px;">
    	<div dp-content-footer>
	        <!-- 收发信息 -->
	        <div class="item" style="border: 0;padding: 5px;background-color:#f6f6f6;">
	            <ul class="bor">
	                <li class="">
	                    <a class="sou" style="font-size:1.15em;">收发信息</a>
	                </li>
	                <li class="">
	                    <a class="sou" style="display:inline-block;max-width: 95%;">发件人:{{ userFa.userFa }}</a>
	                    <ul>
	                        <li class="souJ">{{ userFa.tel }}</li>
	                        <li class="souJ">{{ userFa.contactCity}}{{userFa.contactArea}}{{ userFa.userAddress }}</li>
	                    </ul>
	                </li>
	                <li class="" style="border-top: 1px solid #c8c8c8;">
	                    <a class="sou" style="display:inline-block;max-width: 95%;">收件人:{{ userSou.userSou }}</a>
	                    <ul>
	                        <li class="souJ">{{ userSou.tel }}</li>
	                        <li class="souJ">{{ userSou.receiverCustCity }}{{userSou.receiverCustArea}}{{ userSou.userAddress }}</li>

	                    </ul>
	                </li>
	            </ul>
	        </div>
	        <!-- 货物信息 -->
	        <div class="item" style="border: 0;padding: 5px;background-color:#f6f6f6;">
	            <ul class="bor">
	                <li class="">
	                    <a class="sou" style="font-size:1.15em;">货物信息</a>
	                </li>
	                <li class="">
	                    <div class="row roo" style="margin-top:0px;">
	                        <div class="col col-50">货物: <span>{{ huoWu.hName }}</span></div>
	                        <div class="col col-50">件数: <span>{{ huoWu.gNum }}</span></div>
	                    </div>
	                    <div class="row roo">
	                        <div class="col col-50">重量: <span>{{ huoWu.hKg }}</span></div>
	                        <div class="col col-50">体积: <span>{{ huoWu.hV }}</span></div>
	                    </div>
	                    <div class="row roo">
	                        <div class="col col-50">保价: <span>{{ huoWu.baoJia }}</span></div>
	                        <div class="col col-50">包装: <span>{{ huoWu.baoZhuan }}</span></div>
	                    </div>
	                </li>

	            </ul>
	        </div>
	        <!-- 服务信息 -->
	        <div class="item" style="border: 0;padding: 5px;background-color:#f6f6f6;">
	            <ul class="bor">
	                <li class="">
	                    <a class="sou" style="font-size:1.15em;">服务信息</a>
	                </li>
	                <li><div class="row roo"><div class="col">运输方式:  {{ tran }} </div></div></li>
	                <li>
	                    <div class="row roo">
	                        <div class="col col-50">提货方式:  {{ deliver }} </div>
	                    </div>
	                </li>
                    <li>
                        <div class="row roo">
                            <div class="col col-50">代收:  {{ recive }} </div>
                        </div>
                    </li>
	                <li>
	                    <div class="row roo">
	                        <div class="col col-50">付款方式:  {{ pay }} </div>
	                    </div>
	                </li>
                    <li>
                        <div class="row roo">
                            <div class="col col-50">签收单:  {{ returnBill }} </div>
                        </div>
                    </li>
            	</ul>
	        </div>
	
	        <div class="xd">
	            <button ng-click="backMyOrder(userFa.userFa,userFa.tel,userFa.userAddress,userSou.userSou,userSou.tel,userSou.userAddress)" class="button b1">再次下单</button>
	            <button ng-click="backOrder(opac)" class="{{opac}}">撤销订单</button>
	        </div>
        </div>
    </ion-content>
</ion-view>
 <div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  