<ion-view  dp-nav-href="#/home" dp-nav-title="订单详情">
    <ion-content class="dp-content" style="padding: 55px 10px;">
    	<div dp-content-footer>
	        <!-- 收发信息 -->
	        <div class="item" style="border: 0;padding: 5px;">
	            <ul class="bor">
	                <li class="">
	                    <a class="sou">收发信息</a>
	                </li>
	                <li class="">
	                    <a class="sou">发件人:张XX</a>
	                    <ul>
	                        <li class="souJ">151-2224-5678</li>
	                        <li class="souJ">上海市青浦区明珠路1018号</li>
	                    </ul>
	                </li>
	                <li class="" style="border-top: 1px solid #c8c8c8;">
	                    <a class="sou">收件人:李XX</a>
	                    <ul>
	                        <li class="souJ">151-2224-5678</li>
	                        <li class="souJ">上海市青浦区明珠路1018号</li>
	                    </ul>
	                </li>
	            </ul>
	        </div>
	        <!-- 货物信息 -->
	        <div class="item" style="border: 0;padding: 5px;">
	            <ul class="bor">
	                <li class="">
	                    <a class="sou">货物信息</a>
	                </li>
	                <li class="">
	                    <div class="row">
	                        <div class="col col-50">货物 <span>灯具</span></div>
	                        <div class="col col-50">件数 <span>21</span></div>
	                    </div>
	                    <div class="row">
	                        <div class="col col-50">重量 <span>100KG</span></div>
	                        <div class="col col-50">体积 <span>0.1F</span></div>
	                    </div>
	                    <div class="row">
	                        <div class="col col-50">保价 <span>500元</span></div>
	                        <div class="col col-50">包装 <span>纸</span></div>
	                    </div>
	                </li>
	
	            </ul>
	        </div>
	        <!-- 服务信息 -->
	        <div class="item" style="border: 0;padding: 5px;">
	            <ul class="bor">
	                <li class="">
	                    <a class="sou">服务信息</a>
	                </li>
	                <li>运输方式: 德邦快递</li>
	                <li>
	                    <div class="row">
	                        <div class="col-50">提货方式: 送货</div>
	                        <div class="col-50">代收: 500元</div>
	                    </div>
	                </li>
	                <li>
	                    <div class="row">
	                        <div class="col-50">付款方式: 到付</div>
	                        <div class="col-50">签收单: 无需返单</div>
	                    </div>
	                </li>
	            </ul>
	        </div>
	
	        <div class="xd">
	            <button ng-click="backMyOrder()" class="button b1">再次下单</button>
	            <button ng-show="myVar" ng-click="toggle()" class="button b2">收回订单</button>
	        </div>
        </div>
    </ion-content>
</ion-view>
 <div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  