<!DOCTYPE html>
<html>
<head>
    <title>网上下单-德邦</title>
    <meta name="keywords" content="网上下单，模板，德邦物流下单管理，95353">
    <meta name="description" content="德邦网上下单页面，德邦快递网上下单页面，客户可以根据自己需要的下单模板进行下单。">
</head>
<body>

<div  dp-back-nav-href="closePlaceModal()" dp-nav-title="我要下单" load-compent="isShow">
    <div class="dp-content-notop" style="padding:36px 0px 15px;">
        <div dp-content-footer>
            <div hello=""></div>
            <div class="list dp-receive-list" style="margin-top: 25px;padding:0px 3.7%;font-size:14px;">
                <div style="font-size: 1.15em;"><b>发货人信息</b></div>
                <div class="dp-div item-input  item-icon-right dp-label-margintop" style="margin-top: 12px;font-size:1em;">
                    <span class="dp-required">*</span>

                    <div class="dp-text-width">姓名：</div>
                    <b><a ng-click="openReceiverModal(1,1)"><i class="icon"><img src="img/index_ic_anchor_point_j.png"
                                                         style="cursor:hand;width:32px;height:32px;padding-right:0px;margin-top:8px;"></i></a>
                        <input type="text" name="shipperName" placeholder="发货人姓名" ng-model="orderEntity.shipperName" maxlength="25"></b>
                </div>
                <div class="dp-div item-input  item-icon-right dp-label-margintop" style="font-size:1em;">
                    <span class="dp-required">*</span>

                    <div class="dp-text-width">手机号：</div>
                    <b><input type="tel" name="contactMobile" placeholder="请输入手机号码" ng-model="orderEntity.contactMobile" maxlength="11" ng-blur="testTel(1)"></b>
                </div>
                <div class="dp-div item-input  item-icon-right dp-label-margintop" style="font-size:1em;">
                    <span class="dp-required">*</span>

                    <div class="dp-text-width">省市区：</div>
                    <b ng-click="openModal(1)"><a ><i class="icon"><img src="img/ic_area.png"
                                                                       style="cursor:hand;width:32px;height:32px;padding-right:0px;margin-top:8px;"></i></a>
                        <input type="text" name="contactCity" placeholder="请选择城市和区域" ng-model="orderEntity.contactCity" readonly="readonly"></b>
                </div>
                <div class="dp-div item-input  item-icon-right dp-label-margintop" style="font-size:1em;">
                    <span class="dp-required">*</span>

                    <div class="dp-text-width">详细地址：</div>
                    <b><a ng-click="getLocation(1)"><i class="icon"><img src="img/index_ic_branch.png"
                                                                         style="cursor:hand;width:32px;height:32px;padding-right:0px;margin-top:8px;"></i></a>
                        <input type="text" name="contactAddress" placeholder="点击图标获取当前地址" ng-model="orderEntity.contactAddress" maxlength="50"></b>
                </div>
                
                
                <div style="font-size: 1.15em; margin-top: 25px" ng-click="select()"><b>收货人信息</b>&nbsp;<a ng-click="select()">
            <img src="img/{{ionarrow}}.png" style="width:15px;height:8px" ng-click="select()"/></a>
            </div>
                
           
<!--                <div style="font-size: 15px; margin-top: 25px"><b ng-click="openList(switch1=(switch1==false)?true:false)">收货人信息</b>  ng-click="select()"  -->
<!--                <a><img src="img/{{ionarrow}}.png" style="width:15px;height:8px"/></div> -->
               <div ng-hide="myVal">   <!--ng-hide="myVal" ng-init="switch=false" ng-show="switch" -->
                <div class="dp-div item-input  item-icon-right dp-label-margintop" style="margin-top: 12px;font-size:1em;">
                    <div class="dp-text-width2 dp-text-padding">姓名：</div>
                    <b><a ng-click="openReceiverModal(2,1)"><i class="icon"><img src="img/index_ic_anchor_point_j.png"
                                                         style="cursor:hand;width:32px;height:32px;padding-right:0px;margin-top:8px;"></i></a>
                        <input type="text" name="receiverCustName" placeholder="收货人姓名" ng-model="orderEntity.receiverCustName" maxlength="25"></b>
                </div>
                <div class="dp-div item-input  item-icon-right dp-label-margintop" style="font-size:1em;">
                    <div class="dp-text-width2 dp-text-padding">手机号：</div>
                    <b><input type="tel" name="receiverCustMobile" placeholder="请输入手机号码" ng-model="orderEntity.receiverCustMobile" maxlength="11" required ng-blur="testTel(2)"></b>
                </div>
                <div class="dp-div item-input  item-icon-right dp-label-margintop" style="font-size:1em;">
                    <div class="dp-text-width2 dp-text-padding">省市区：</div>
                    <b ng-click="openModal(2)"><a ><i class="icon"><img src="img/ic_area.png"
                                                                       style="cursor:hand;width:32px;height:32px;padding-right:0px;margin-top:8px;"></i></a>
                        <input type="text" name="receiverCustCity" placeholder="请选择城市和区域" ng-model="orderEntity.receiverCustCity" readonly="readonly"></b>
                </div>
                <div class="dp-div item-input item-icon-right dp-label-margintop" style="font-size:1em;">
                    <div class="dp-text-width2 dp-text-padding">详细地址：</div>
                    <b><input type="text" name="receiverCustAddress" placeholder="街道—路名—门牌号" ng-model="orderEntity.receiverCustAddress" maxlength="50"></b>
                </div>
                </div>
                <div style="font-size: 1.15em; margin-top: 25px"><b>备注</b></div>
                <textarea class="angle-textarea" name="remark" placeholder="如您有其它需求，请在此注明" ng-model="orderEntity.remark" rows="5" maxlength="80"
                          style="margin-top: 12px"></textarea>
                  <div class="dp-market" name="market">{{errorText}}</div>
            </div>
            
            <button class="button button-full dp-long-button" ng-click="placeorderMethod()" style="margin-bottom:50px;width:92.6%;margin-left:3.7%;">
                <b>下&nbsp;&nbsp;单</b>
            </button>
        </div>
    </div>
    </div>
    <div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  
   </body>
</html>