<ion-view  dp-back-nav-href="closeOrderSuccessModal()" dp-nav-title="下单成功">
    <ion-content class="dp-content-notop">
        <div dp-content-footer>
            <div hello=""></div>
            <div class="list dp-receive-list" style="margin-top: 100px;">
                <div style="text-align: center"><img src="img/order_success.png" style="width: 120px;height: 130px;"/>
                </div>
                <div style="font-size: 15px;text-align: center;padding-top:15px;">恭喜您下单成功</div>
                <div style="font-size: 15px;text-align: center;padding-top:10px;">德邦工作人员稍后将与您联系</div>
                <div style="text-align: center">
                    <button class="button  dp-order-button" ng-click="closeOrderSuccessModal()">
                        <b>继&nbsp;&nbsp;续&nbsp;&nbsp;下&nbsp;&nbsp;单</b>
                    </button>
                    <button class="button  dp-order-button" style="margin-left: 6px;" ng-click="myNewOrder()">
                        <b>查&nbsp;&nbsp;看&nbsp;&nbsp;订&nbsp;&nbsp;单</b>
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
 <div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  