<ion-modal-view style="overflow-y:auto !important;">
<div dp-back-nav-href="closeSendEditModal()" dp-nav-title="{{senderTitle}}{{editAdd}}"  load-compent="isShow">
        <div class="dp-content" style="padding-top:50px;">
            <div hello=""></div>
            <input type="hidden" ng-model="param" />
            <input type="hidden" ng-model="add" />
        <div class="list dp-receive-list" style="margin-top: 15px;font-size:14px;" ng-show="senderT">
            <div class="dp-div item-input  item-icon-right dp-label-margintop" style="font-size:1em;">
               <span class="dp-required">*</span>
                <div class="dp-text-width">姓名：</div>
                <b><input type="hidden" name="oid" ng-model="consignorInfo.id" />
                <input type="text" name="name" placeholder="发货人姓名" ng-model="consignorInfo.consignorName" maxlength="25"></b>
            </div>
            <div class="dp-div item-input  item-icon-right dp-label-margintop" style="font-size:1em;">
                <span class="dp-required">*</span>
                <div class="dp-text-width">手机号：</div>
                <b ><input  type="tel" name="tel" placeholder="请输入手机号码" ng-model="consignorInfo.consignorPhone" maxlength="11"  ng-blur="testSendMobile()"></b>
            </div>
            <div class="dp-div item-input  item-icon-right dp-label-margintop" style="font-size:1em;">
                <span class="dp-required">*</span>
                <div class="dp-text-width">城市：</div>
                <b ng-click="openModal()"><a ><i class="icon"><img src="img/ic_area.png"
                                        style="cursor:hand;width:32px;height:32px;padding-right:0px;margin-top:8px;"></i></a>
                    <input type="text" name="city" ng-model="consignorInfo.addrProCity" placeholder="请选择城市和区域" readonly="readonly"></b>
            </div>
            <div class="dp-div item-input  item-icon-right dp-label-margintop" style="font-size:1em;">
                <span class="dp-required">*</span>
                <div class="dp-text-width">详细地址：</div>
                <b><input type="text" name="address" placeholder="街道—路名—门牌号" ng-model="consignorInfo.consignorAddress" maxlength="50"></b>
            </div>
            <input type="hidden" ng-model="consignnorInfo.id" name="id"/>
            <div class="dp-market" name="market">{{errorText}}</div>
            <button class="button button-full dp-long-button"  ng-click="addMethod()">
                <b>提&nbsp;&nbsp;交</b>
            </button>
     </div>
     <div class="list dp-receive-list" style="margin-top: 15px;font-size:14px;" ng-show="receiverT">
            <div class="dp-div item-input  item-icon-right dp-label-margintop" style="font-size:1em;">
                <span class="dp-required">*</span>
                <div class="dp-text-width">姓名：</div>
                <b><input type="hidden" name="eid" ng-model="consigneeInfo.id" />
                <input type="text" name="name" placeholder="收货人姓名" ng-model="consigneeInfo.consigneeName"  maxlength="25" ></b>
            </div>
            <div class="dp-div item-input  item-icon-right dp-label-margintop" style="font-size:1em;">
                <span class="dp-required">*</span>
                <div class="dp-text-width">手机号：</div>
                <b ><input  type="tel" name="tel" placeholder="请输入手机号码" ng-model="consigneeInfo.cellPhone" maxlength="11"  ng-blur="testSendMobile()"></b>
            </div>
            <div class="dp-div item-input  item-icon-right dp-label-margintop" style="font-size:1em;">
                <span class="dp-required">*</span>
                <div class="dp-text-width">城市：</div>
                <b ng-click="openModal()"><a ><i class="icon"><img src="img/ic_area.png"
                                                                      style="cursor:hand;width:32px;height:32px;padding-right:0px;margin-top:8px;"></i></a>
                    <input type="text" name="city" placeholder="请选择城市和区域" ng-model="consigneeInfo.addrProCity" readonly="readonly"></b>
            </div>
            <div class="dp-div item-input  item-icon-right dp-label-margintop" style="font-size:1em;">
                <span class="dp-required">*</span>
                <div class="dp-text-width">详细地址：</div>
                <b><input type="text" name="address" placeholder="街道—路名—门牌号" ng-model="consigneeInfo.address" maxlength="50"></b>
            </div>
            <input type="hidden" ng-model="consigneeInfo.id" name="id"/>
            <div class="dp-market" name="market">{{errorText}}</div>
            <button class="button button-full dp-long-button"  ng-click="addMethod()">
                <b>提&nbsp;&nbsp;交</b>
            </button>
        </div><div dp-content-footer></div>
  </div>
</div></ion-modal-view>
 <div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  