<!DOCTYPE html>
<html>
<head>
    <title>收/发货人管理-德邦</title>
    <meta name="keywords" content="我的德邦，发货人管理，收货人管理，95353">
    <meta name="description" content="德邦收、发货人管理，首页。">
</head>
<body>

<ion-view dp-nav-href="#/myDeppon" dp-nav-title="{{senderTitle}}管理"  load-compent="isShow">
        <ion-content class="dp-content-notop" style="padding:36px 0px 15px;">
            <div hello=""></div>
    <div class="dp-content-list dp-remove-padding" ng-show="senderT">
        <button class="button button-full dp-long-button" ng-click="xzMethod()">
            <b><span style="font-size: 20px;">+</span>&nbsp;&nbsp;新&nbsp;&nbsp;增</b>
        </button>
        <div class="angle-bending people-message-list" ng-repeat="user in usersenders" id="e{{user.id}}" style="font-size:14px;">
            <div class="row mess-list">
                <div class="col">
                    <b style="font-size:1.15em;"><span id="oname{{user.id}}">{{user.consignorName}}</span></b>
                </div>
            </div>
            <div class="row mess-list">
                <div class="col">
                    电话：<span id="ophone{{user.id}}">{{user.consignorPhone}}</span>
                </div>
            </div>
            <div class="row mess-list">
                <div class="col">
                    地址：<span id="oarea{{user.id}}">{{user.addrProCity}}{{user.consignorAddress}}</span>
                    <span id="ocitypro{{user.id}}" style="display: none">{{user.addrProCity}}</span>
                    <span id="ocityaddre{{user.id}}" style="display: none">{{user.consignorAddress}}</span>
                </div>
            </div>
            <div class="row align-center operation">
                <div class="col dp-div-border operation-btn"  ng-click="edit('{{user.id}}')">
                    <img src="img/bj.png" width="16px" height="16px" style="vertical-align:middle" />&nbsp;编辑
                    </div>
                <div class="col dp-div-border operation-btn" ng-click="placeorder('{{user.id}}')">
                    <img src="img/xd.png" width="16px" height="16px" style="vertical-align:middle" />&nbsp;下单
                </div>
                <div class="col dp-div-border operation-btn operation-delete" ng-click="delSendMethod('{{user.id}}')">
                    <img src="img/sc.png" width="16px" height="16px" style="vertical-align:middle" />&nbsp;删除
                </div>
                </div>
    </div>
    <ion-infinite-scroll
                ng-if="hasMoreData()"
                on-infinite="loadSenderMore()"
                icon="ion-loading-c"
                distance="5%">
    </ion-infinite-scroll>
    <div class="center2">{{nullUsersender==true?"亲，您还没有添加发货人哦":""}}</div>
     </div>
     <div class="dp-content-list dp-remove-padding" ng-show="receiverT">
        <button class="button button-full dp-long-button" ng-click="xzMethod()">
            <b><span style="font-size: 20px;">+</span>&nbsp;&nbsp;新&nbsp;&nbsp;增</b>
        </button>
        <div class="angle-bending people-message-list" ng-repeat="user in usersenders" id="kk{{user.id}}">
            <div class="row mess-list">
                <div class="col">
                    <b><span id="ename{{user.id}}">{{user.consigneeName}}</span></b>
                </div>
            </div>
            <div class="row mess-list">
                <div class="col">
                    电话：<span id="ephone{{user.id}}">{{user.cellPhone}}</span>
                </div>
            </div>
            <div class="row mess-list">
                <div class="col">
                    地址：<span id="earea{{user.id}}">{{user.addrProCity}}{{user.address}}</span>
                    <span id="ecitypro{{user.id}}" style="display: none">{{user.addrProCity}}</span>
                    <span id="ecityaddre{{user.id}}" style="display: none">{{user.address}}</span>
                </div>
            </div>
            <div class="row align-center operation">
                <div class="col dp-div-border operation-btn"  ng-click="edit('{{user.id}}')">
                    <img src="img/bj.png" width="16px" height="16px" style="vertical-align:middle" />&nbsp;编辑
                    </div>
                <div class="col dp-div-border operation-btn" ng-click="placeorder('{{user.id}}')">
                    <img src="img/xd.png" width="16px" height="16px" style="vertical-align:middle" />&nbsp;下单
                </div>
                <div class="col dp-div-border operation-btn operation-delete" ng-click="delSendMethod('{{user.id}}')">
                    <img src="img/sc.png" width="16px" height="16px" style="vertical-align:middle" />&nbsp;删除
                </div>
                </div>
    </div>
    <ion-infinite-scroll
                ng-if="hasMoreData()"
                on-infinite="loadSenderMore()"
                icon="ion-loading-c"
                distance="5%">
    </ion-infinite-scroll>
     <div class="center2">{{nullUsersender==true?"亲，您还没有添加收货人哦":""}}</div>
     </div>
      <div  style="text-align: center;margin-top: 40px"><p style="color:#3194FE;" ng-bind="loadMoreWord"></p></div>
     <div dp-content-footer></div>
  </ion-content>
</ion-view>
 <div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  
</body>
</html>