

  <form name="changePassword" novalidate="novalidate" load-compent="isShow">

<div style="display:none;">
<!-- <script>
/**
* 百度统计代码
* 
*/
var _bdhmProtocol = ((""https:"" == document.location.protocol) ? ""  https://"" : "" http://"");
document.write(unescape(""%3Cscript src='"" + _bdhmProtocol + ""hm.baidu.com/h.js%3F39f474fa8fa9cefbed841228218c1418' type='text/javascript'%3E%3C/script%3E""));
//百度统计代码结束
</script> -->

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?594739dfeeb29d78472f7ee9c368f7f4";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</div> 



</form>
