<form name="bindPhone" novalidate="novalidate" load-compent="isShow">
    <div  dp-nav-href="#/personInformation" dp-nav-title="修改手机号">
        
        <div class="dp-content" style="padding:0px 0px 15px;">
		<div dp-content-footer>
            <div class="dp-content-list">

                <div class="row item marginTop" style="line-height: 37px;padding-top:0px;">
                    <div class="col col-25" style="font-size:1.07em;">
                        <b>原手机号：</b>
                    </div>
                    <div class="col" style="padding-top:16px;font-size:1.07em;">
                        <h3>{{telephone}}</h3>
                    </div>
                </div>

                <div class="row item marginTop" style="line-height: 37px;padding-top:0px;">
                    <div class="col col-25" style="font-size:1.07em;">
                        <b>新手机号：</b>
                    </div>
                    <div class="col" style="padding-top:6px;font-size:1.07em;">
                        <input type="text" name="phone" ng-model="phone" maxlength="11" placeholder="请输入新手机号"
                               ng-pattern="/^(1[3|5|7|8][0-9]{9}|[0-9]{8})$/" required ng-blur="checkPhone()"/>
                    </div>
                </div>


                <div class="row item marginTop" style="padding-top:0px;line-height:37px;">
                    <div class="shouji col col-25" style="padding-top:5px;font-size:1.07em;">
                        <b>验证码</b>
                    </div>
                    <div class="col col-30" style="padding-top: 5px;">
                        <input type="text" name="validateCode" placeholder="请输入验证码" maxlength="6" ng-model="validateCode" required
                        ng-blur="checkCd()">
                    </div>
                    <div class="col col-45">
                        <button class="button" ng-click="getcode($event)" ng-bind="codeContent" style="min-height: 35px;line-height: 35px;background-color: #e0e1e3;background-image: none; border-color: #babbbd;font-size:0.95em;">

                        </button>
                    </div>
                </div>

            </div>

            <div class="dp-check" style="margin-bottom:50px;width:92.6%;margin-left:3.7%;">
                <div class="dp-market" name="market" ng-bind="errorContent"></div>
               <button class="button dp-long-button" ng-click="conform()" style="font-size:14px;">
                 <b style="font-size:1.23em;">确&nbsp;定</b> 
               </button>
               

            </div>
		</div>
        </div>
       
    </div>
</form>
<div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  