<form name="changePassword" novalidate="novalidate" load-compent="isShow">
<div  dp-nav-href="#/personInformation" dp-nav-title="密码修改">
    <div class="dp-content" style="padding:0px 0px 15px;">
        <div dp-content-footer class="list dp-content-list">
            <label class="item-input" style="width:92.6%;margin-left:3.7%;">
                <input type="password" name="oldPwd" placeholder="我的原密码（6-16字母或数字）" ng-model="oldPwd"
                ng-pattern="/^[A-Za-z0-9]{6,16}$/" required minlength="6" maxlength="16" ng-blur="checkOldPwd()" style="font-size:1.07em;">
            </label>
            <label class="item-input" style="width:92.6%;margin-left:3.7%;">
                <input type="password" name="newPwd" placeholder="我的新密码（6-16字母或数字）" ng-model="newPwd"
                ng-pattern="/^[A-Za-z0-9]{6,16}$/" required minlength="6" maxlength="16" ng-blur="checkNewPwd()" style="font-size:1.07em;">
            </label>
            <label class="item-input" style="width:92.6%;margin-left:3.7%;">
                <input type="password" name="cfgPassword" placeholder="确认新密码（6-16字母或数字）" ng-model="cfgPassword"
                ng-pattern="/^[A-Za-z0-9]{6,16}$/" required minlength="6" maxlength="16" ng-blur="checkCfgPassword()" style="font-size:1.07em;">
            </label>
             <div class="list" style="margin-bottom:50px;width:92.6%;margin-left:3.7%;">
            
               <div class="dp-check">
                     <div class="dp-market" name="market" ng-bind="errorText"></div>
                    <button class="button dp-long-button" ng-click="checklc()" style="font-size:14px;">
                        <b style="font-size:1.23em">确&nbsp;定</b>
                    </button>
                </div>
                
            </div>
        </div>
    </div>
</div>
</form>
<div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  