    <title>专注你的托付-德邦官网触屏版</title>
    <meta name="keywords" content="德邦,德邦物流,德邦快递，95353">
    <meta name="description" content="德邦物流股份有限公司，全国唯一服务热线电话95353，是国家5A级物流企业，主营公路零担运输业务，截止2014年10月，公司已开设直营网点 5,200多家。网站提供德邦单号查询，德邦网点查询，德邦电话查询，德邦价格查询，在线下单等一站式服务。">
<ion-view>
	<ion-content>
<div dp-list-open xmlns="http://www.w3.org/1999/html" load-compent="isShow">

<div class="bar bar-header dp-bar item-icon-right otherBar">
    <h1 class="title dp-bar-home"></h1>
    <a ng-click="loginGo()" class="icon dp-nav-a">
        <img class="icon" src="img/ic_login.png" style="height: 50%;top: 12px;margin-right: 0px;right:10px;"/>
    </a>
    <img class="icon" src="img/ic_list.png" style="height:45%;top:13px;" ng-click="openList(switch=(switch==false)?true:false)"/>
</div>

<div class="dp-index-home" style="background-color:#fff !important;padding-top:44px;">

<div dp-content-footer>

<!--主题图片 -->
<ion-slide-box class="dp-home-slide" auto-play="true" does-continue="true" slide-interval="3000"
               on-slide-changed="slideHasChanged($index)" style="margin-top:-1px;">
    <ion-slide>
        <div class="box">
            <a href="#/360" class="img"><img src="img/360_preferential.jpg"/></a>
        </div>
    </ion-slide>
    <ion-slide>
        <div class="box">
            <a href="http://www.deppon.com/hd/" class="img"><img src="img/deppon_express.jpg"/></a>
        </div>
    </ion-slide>
    <ion-slide>
        <div class="box">
            <a href="http://www.deppon.com/finance/financeIndex.action" class="img"><img src="img/online_payment.jpg"/></a>
        </div>
    </ion-slide>
    <ion-slide>
        <div class="box">
            <a href="#/precisionHighTicket" class="img"><img src="img/precision_high_ticket.jpg"/></a>
        </div>
    </ion-slide>

</ion-slide-box>

<div class="dp-home-menu" style="border-bottom:1px solid #ddd;margin-top:-10px;" >
    <div class="row">
        <div class="col" align="center">
            <a class="item item-thumbnail-top firstItem" ng-click="check()">
                <img src="img/mydeppon.png">

                <p>我的德邦</p>
            </a>
        </div>
        <div class="col" align="center">
            <a class="item item-thumbnail-top firstItem"  ng-click="check2()">
                <img src="img/xiadan.png">

                <p>我要下单</p>
            </a>
        </div>
        <div class="col" align="center">
            <a class="item item-thumbnail-top firstItem" href="#/goodSelect">
                <img src="img/hw_genzong.png">

                <p>货物追踪</p>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col" align="center">
            <a class="item item-thumbnail-top" href="#/queryBranches">
                <img src="img/wd_chaxun.png">

                <p>网点查询</p>
            </a>
        </div>
        <div class="col" align="center">
            <a class="item item-thumbnail-top" href="#/realTimePrice">
                <img src="img/jiage.png">

                <p>价格时效查询</p>
            </a>
        </div>
        <div class="col" align="center">
            <a class="item item-thumbnail-top" href="#/expressDispatch">
                <img src="img/fanwei.png">

                <p>快递收送范围</p>
            </a>
        </div>
        </div>
       
    
       
</div>

<div class="dp-home-activity" style="margin-top:25px; border-bottom:1px solid #ddd;font-size:14px;">
    <span style="margin-left:2%;font-size: 1.15em;font-weight:600;">市场活动</span>
    <span style="float:right;"><a href="#/marketList" style="text-decoration: none; font-size: 1.0em;color:#616161;margin-right:10px;">更多&gt;&gt;</a></span>

    <div class="row firstRow">
        <div class="col" align="center">
            <a class="item item-thumbnail-top market" href="#/biaozhun2">
                <img src="img/deppon_express_home.jpg" style="width:100%;">

                <p>快递，德邦来了！限时未到，运费全免</p>
            </a>
        </div>
        <div class="col" align="center">
            <a class="item item-thumbnail-top market" href="#/deppon18">
                <img src="img/deppon18_home.jpg" style="width:100%;">

                <p>德邦18载，全国5000家，好礼“载”回“家”</p>
            </a>
        </div>
    </div>
</div>

<div class="dp-home-product" style="margin-top:25px;font-size:14px;">
    <span style="margin-left:2%;font-size: 1.15em;font-weight:600;">产品介绍</span>
    <span style="float:right;"><a href="#/productList" style="text-decoration: none;font-size: 1.0em;color:#616161;margin-right:10px;">更多&gt;&gt;</a></span>

    <div class="row">
        <div class="col col-50">
            <a class="item item-thumbnail-left borderItem" href="#/kahang" style="padding-right:0px;">
                <img src="img/kahang.png">

                <p></p>
                <b style="font-size:1em;">精准卡航</b>

                <p></p>

                <p class="introduction">高性价比</p>
            </a>
        </div>
        <div class="col col-50">
            <a class="item item-thumbnail-left" href="#/chengyun">
                <img src="img/chengyun.png">

                <p></p>
                <b style="font-size:1em;">精准城运</b>

                <p></p>

                <p class="introduction">城市便捷通道</p>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col col-50">
            <a class="item item-thumbnail-left borderItem" href="#/qiyun" style="padding-right:0px;">
                <img src="img/qiyun.png">

                <p></p>
                <b style="font-size:1em;">精准汽运</b>

                <p></p>

                <p class="introduction" >范围最广</p>
            </a>
        </div>
        <div class="col col-50">
            <a class="item item-thumbnail-left" href="#/kongyun">
                <img src="img/kongyun.png">

                <p></p>
                <b style="font-size:1em;">精准空运</b>

                <p></p>

                <p class="introduction" >最快捷</p>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col col-50">
            <a class="item item-thumbnail-left borderItem" href="#/360" style="padding-right:0px;">
                <img src="img/360.png">

                <p></p>
                <b style="font-size:1em;">3.60特惠件</b>

                <p></p>

                <p class="introduction" >实惠安心贴心</p>
            </a>
        </div>
        <div class="col col-50">
            <a class="item item-thumbnail-left" href="#/biaozhun">
                <img src="img/kuaidi.png">

                <p></p>
                <b style="font-size:1em;">标准快递</b>

                <p></p>

                <p class="introduction" >专业可靠</p>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col col-50 lastItem">
            <a class="item item-thumbnail-left borderItem " href="#/zhengche" style="padding-right:0px;">
                <img src="img/zhengche.png">
               	<p></p>
                <b style="font-size:1em;">整车运输</b>
				<p></p>
                <p class="introduction" >两万客户信赖</p>
            </a>
        </div>
        <div class="col col-50 lastItem">
            <a class="item item-thumbnail-left ">
            </a>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  
	</ion-content>
</ion-view>