<!DOCTYPE html>
<html>
<head>
    <title>我的德邦-德邦</title>
    <meta name="keywords" content="我的德邦，95353">
    <meta name="description" content="我的德邦，个人资料设置 ，我的订单，发货人管理，收货人管理。">
</head>
<body>

<form name="myDeppon" novalidate="novalidate" load-compent="isShow">
<ion-view dp-nav-href="#/home" dp-nav-title="我的德邦">
   
    <ion-content class="dp-content" style="padding-top:70px;padding-left:0px;padding-right:0px;">
    <div dp-content-footer>

        <div class="list dp-content-list dp-remove-padding">

                <a class="item item-icon-right yuanjiao" href="#/personInformation">
                    <b style="font-size:1.07em;height:25px;color:#373c64"> <span class="left-title">登陆用户:</span><span>{{user.userName}}</span></b>
                    <p style="margin:15px 0 0;font-size:0.9em"><span class="left-title">上次登陆时间:</span><span>{{user.lastLoginTime | date:"yyyy-MM-dd HH:mm:ss"}}</span></p>
                    <i class="icon pointer-icon"><img src="img/ic_item_link.png"/></i>
                </a>
        </div>

        <div class="list dp-content-list yuanjiao2 dp-remove-padding">
                <a class="item item-icon-right yuanjiao list-no-border senderManager" href="#/senderMng/1">
                    <b style="font-size:1.07em">发货人管理</b>
                    <i class="icon pointer-icon"><img src="img/ic_item_link.png"/></i>
                </a>
                <a class="item item-icon-right yuanjiao list-no-border receiverManager" href="#/senderMng/2">
                    <b style="font-size:1.07em">收货人管理</b>
                    <i class="icon pointer-icon"><img src="img/ic_item_link.png"/></i>
                </a>
                <a class="item item-icon-right yuanjiao list-no-border myOrder" href="#/myOrder">
                    <b style="font-size:1.07em">我的订单</b>
                    <i class="icon pointer-icon"><img src="img/ic_item_link.png"/></i>
                </a>
        </div>


        <div class="dp-check dp-check-button">
                <button class="button dp-long-button" ng-click="exit()" style="font-size:14px;">
                   <b style="font-size:1.23em;">退出</b>
                </button>
        </div>
	</div>
    </ion-content>

</ion-view>
</form>
<div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  
</body>
</html>