<ion-view>
    <div class="bar bar-header dp-bar">
        <a class="dp-icon-back" href="#/tab/home"></a>
        <h1 class="title">网点查询</h1>
    </div>
    <div class="dp-content-net dp-map-content">
        <baidu-map options="mapOptions"></baidu-map>
    </div>
</ion-view>
<div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  