<!DOCTYPE html>
<html>
<head>
    <title>个人资料设置-德邦</title>
    <meta name="keywords" content="个人资料，95353">
    <meta name="description" content="姓名，性别 ，手机号，修改密码。">
</head>
<body>

<div  dp-nav-href="#/myDeppon" dp-nav-title="个人资料" load-compent="isShow">
 
    <div class="dp-content" style="padding:0px;">
        <div dp-content-footer class="dp-content-list">
        
             <div class="item marginTop dp-item-padding">
               <div><b style="font-size:1.07em;"><span class="left-title">登陆用户:</span>{{user.userName}}</b></div>
               <div style="color:#666;margin-top:10px;font-size:0.9em;"><span class="left-title">上次登陆时间:</span>{{user.lastLoginTime | date:"yyyy-MM-dd HH:mm:ss"}}</div>
             </div>


            <div class="row item marginTop dp-item-padding" style="padding-top:0px;">
                <div class="col col-25" style="padding-top:12px;font-size:1.07em;">
                    <b>姓名</b>
                </div>
                <div class="col col-75" style="font-size:1.07em;">
                    <input type="text" name="realName" ng-model="realName" value="{{realName}}">
                </div>
            </div>

            <div class="row item marginTop dp-item-padding" style="padding-top:8px;padding-bottom:8px;" >
                <div class="col col-25" style="font-size:1.07em;">
                    <b>性别</b>
                </div>
                <div class="col col-25" style="font-size:1.07em;">
                    <label style="border: 0px;"><input type="radio" name="gender" ng-model="gender"  value="MALE">&nbsp;<span>男</span></label>
                </div>
                <div class="col col-25" style="font-size:1.07em;">
                    <label style="border: 0px;"><input type="radio" name="gender" ng-model="gender" value="FEMALE">&nbsp;<span>女</span></label>
                </div>
            </div>

            <div class="row item marginTop dp-item-padding" style="padding-top:0px;">
                <div class="shouji col col-25" style="font-size:1.07em;">
                    <b>手机号</b>
                </div>
                <div class="shouji col col-30" style="font-size:1.07em;">
                    <span>{{telephone}}</span>
                </div>
                <div class="col col-40" style="font-size:14px;">
                    <button class="button" onclick="window.location.href='#/bindPhone'" style="min-height:35px;line-height:35px;background-color: #e0e1e3;background-image: none;border-color: #babbbd;font-size:1.07em;">
                                                                               更改绑定
                    </button>
                </div>
            </div>

            <a class="item item-icon-right marginTop" style="padding-top:13px;font-size:14px;" href="#/changePassword">
                <b style="font-size:1.07em">修改密码</b>
                <i class="icon pointer-icon"><img src="img/ic_item_link.png"/></i>
            </a>

        

            <div class="dp-check dp-check-btn" style="width:92.6%;margin-left:3.7%;">
                <div class="dp-market" name="market" ng-bind="errorText"></div>
                <button class="button dp-long-button" ng-click="submit()" style="font-size:14px;">
                    <b style="font-size:1.23em">提&nbsp;交</b>
                </button>
            </div>
		</div>
    </div>

</div>
<div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  
</body>
</html>