<ion-view>
    <div class="bar bar-header dp-bar">
        <a class="dp-icon-back" href="#/tab/home"></a>
        <h1 class="title">我要下单</h1>
    </div>
    <ion-content class="dp-content">
    </ion-content>
</ion-view>
<div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  