<ion-view  dp-nav-href="#/home" dp-nav-title="产品介绍">
    <ion-content> 
    <div style="margin-top:68px;margin-left:2%;">
     <span style="font-size: 1.15em;font-weight:600;"><b>主营产品</b></span>
    </div>
    <div class="me-home-menu" style="margin-top:10px;">
            <div class="row">
                <div class="col" align="center">
                    <a class="item item-icon-left item-icon-right borders borderRight" href="#/kahang" style="padding:16px;background-color:#f6f6f6;">
                        <img src="img/kahang.png" style="position: absolute;left:10px;top:10px;width:30%;max-width: 55px;max-height: 55px;">
                        <div style="margin-left: 50px">
                            <b class="me-youhui-font" >精准卡航</b>
                            <p style="margin:0 0 5px;"></p>
                            <p class="mei-small-font" >高性价比</p>
                        </div>
                    </a>
                </div>
                <div class="col" align="center">
                    <a class="item item-icon-left borders" href="#/chengyun" style="padding:16px;background-color:#f6f6f6;">
                        <img src="img/chengyun.png" style="position: absolute;left:10px;top:10px;width:30%;max-width: 55px;max-height: 55px;">
                        <div style="margin-left: 50px">
                            <b class="me-tuan-font">精准城运</b>
                             <p style="margin:0 0 5px;"></p>
                            <p class="mei-small-font">城市便捷通道</p>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="row">
                <div class="col" align="center">
                    <a class="item item-icon-left item-icon-right borders borderRight" href="#/qiyun" style="padding:16px;background-color:#f6f6f6;">
                        <img src="img/qiyun.png" style="position: absolute;left:10px;top:10px;width:30%;max-width: 55px;max-height: 55px;">
                        <div style="margin-left: 50px">
                            <b class="me-youhui-font" >精准汽运</b>
                             <p style="margin:0 0 5px;"></p>
                            <p class="mei-small-font" >范围最广</p>
                        </div>
                    </a>
                </div>
                <div class="col" align="center">
                    <a class="item item-icon-left borders" href="#/kongyun" style="padding:16px;background-color:#f6f6f6;">
                        <img src="img/kongyun.png" style="position: absolute;left:10px;top:10px;width:30%;max-width: 55px;max-height: 55px;">
                        <div style="margin-left: 50px">
                            <b class="me-tuan-font">精准空运</b>
                             <p style="margin:0 0 5px;"></p>
                            <p class="mei-small-font">最快捷</p>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="row">
                <div class="col" align="center">
                    <a class="item item-icon-left item-icon-right borders borderRight" href="#/360" style="padding:16px;background-color:#f6f6f6;">
                        <img src="img/360.png" style="position: absolute;left:10px;top:10px;width:30%;max-width: 55px;max-height: 55px;">
                        <div style="margin-left: 50px">
                            <b class="me-youhui-font" >3.60特惠件</b>
                             <p style="margin:0 0 5px;"></p>
                            <p class="mei-small-font" >实惠安心贴心</p>
                        </div>
                    </a>
                </div>
                <div class="col" align="center">
                    <a class="item item-icon-left borders" href="#/biaozhun" style="padding:16px;background-color:#f6f6f6;">
                        <img src="img/kuaidi.png" style="position: absolute;left:10px;top:10px;width:30%;max-width: 55px;max-height: 55px;">
                        <div style="margin-left: 50px">
                            <b class="me-tuan-font">标准快递</b>
                             <p style="margin:0 0 5px;"></p>
                            <p class="mei-small-font">专业可靠</p>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="row">
                <div class="col" align="center">
                    <a class="item item-icon-left item-icon-right borders borderRight" href="#/zhengche" style="border-bottom:1px solid #ddd; padding:16px;background-color:#f6f6f6;">
                        <img src="img/zhengche.png" style="position: absolute;left:10px;top:10px;width:30%;max-width: 55px;max-height: 55px;">
                        <div style="margin-left: 50px">
                            <b class="me-youhui-font" >整车运输</b>
                             <p style="margin:0 0 5px;"></p>
                            <p class="mei-small-font" >两万客户信赖</p>
                        </div>
                    </a>
                </div>
                <div class="col" align="center" style="border-bottom:1px solid #ddd;">
                    <a class="item item-icon-left borders" href="" style="padding:16px;background-color:#f6f6f6;">
                    </a>
                </div>
            </div>
     </div>
     
     <div style="margin-top:25px;margin-left:2%;">
     <span style="font-size: 1.15em;font-weight:600;"><b>增值业务</b></span>
    </div>
    <div  dp-content-footer class="me-home-menu" style="margin-top:10px;">
            <div class="row">
                <div class="col" align="center">
                    <a class="item item-icon-left item-icon-right borders borderRight" href="#/kahang" style="padding:16px;background-color:#f6f6f6;">
                        <img src="img/product-increase1.png" style="position: absolute;left:10px;top:10px;width:30%;max-width: 55px;max-height: 55px;">
                        <div style="margin-left: 50px">
                            <b class="me-youhui-font" >代收货款</b>
                            <p style="margin:0 0 5px;"></p>
                            <p class="mei-small-font" >便捷货款回收</p>
                        </div>
                    </a>
                </div>
                <div class="col" align="center">
                    <a class="item item-icon-left borders" href="#/chengyun" style="padding:16px;background-color:#f6f6f6;">
                        <img src="img/product-increase2.png" style="position: absolute;left:10px;top:10px;width:30%;max-width: 55px;max-height: 55px;">
                        <div style="margin-left: 50px">
                            <b class="me-tuan-font">保价运输</b>
                             <p style="margin:0 0 5px;"></p>
                            <p class="mei-small-font">安全保价运输</p>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="row">
                <div class="col" align="center">
                    <a class="item item-icon-left item-icon-right borders borderRight" href="#/qiyun" style="padding:16px;background-color:#f6f6f6;">
                        <img src="img/product-increase3.png" style="position: absolute;left:10px;top:10px;width:30%;max-width: 55px;max-height: 55px;">
                        <div style="margin-left: 50px">
                            <b class="me-youhui-font" >安全包装</b>
                             <p style="margin:0 0 5px;"></p>
                            <p class="mei-small-font" >专业包装服务</p>
                        </div>
                    </a>
                </div>
                <div class="col" align="center">
                    <a class="item item-icon-left borders" href="#/kongyun" style="padding:16px;background-color:#f6f6f6;">
                        <img src="img/product-increase4.png" style="position: absolute;left:10px;top:10px;width:30%;max-width: 55px;max-height: 55px;">
                        <div style="margin-left: 50px">
                            <b class="me-tuan-font">其它增值业务</b>
                             <p style="margin:0 0 5px;"></p>
                            <p class="mei-small-font">特色定制服务</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
</div>  
       