<ion-view dp-nav-href="#/" dp-nav-title="网点查询">
    <ion-content class="dp-content">
        <div hello=""></div>
        <div class="tabs-striped tabs-top tabs-background-positive tabs-light">

        </div>
       <!-- <div class="row dp-branchesarea-row">
            <div class="col">
                <button class="button" style="width: 130px">立即下单</button>
            </div>
            <div class="col">
                <button class="button" style="width: 130px">到这里去</button>
            </div>
        </div>-->
        <div class="button-bar bar-light" style=" margin-top: -30px;width: 290px;">
            <a class="button button-outline "  href="#/queryBranches">列表查询</a>
            <a class="button button-outline activated"  style="background-color:#2B2C4B ! important" ng-click="switchType(2)">地图查询</a>
        </div>
        <div class="list dp-branchesarea-list">
            <label class="item-input item-icon-right">
                <!--<span
                class="dp-required">*</span>-->
                <!--	<div class="dp-text-width">上海市-青浦区</div> -->
                <b>
                    <i class="icon"><img src="img/ic_area.png"
                                         style="cursor: hand; width: 60%; height: 90%; padding-right: 0px;"></i>
                    <input
                            type="text" placeholder="上海市-青浦区-徐泾镇" name="sendcity" ng-model="area.sendcity"
                            ng-focus="openModal()">
                </b>
            </label>
        </div>
        <div class="item-button-right dp-content-find">
            <label class="item item-input">
                <input type="text"
                       placeholder="输入账号" ng-model="userName">
            </label>
            <button class="button" ng-click="queryBranches()">查询</button>
        </div>

        <baidu-map options="mapOptions"></baidu-map>
    </ion-content>
</ion-view>
<div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  

