<ion-modal-view style="top:0;min-height:100%;left:0;right:0;width:100%;">
<ion-view>
<div class="bar bar-header bar-light" style="background:#F8F8F8">
<button class="depponback button-icon icon ion-ios7-arrow-left button back-button first-page" ng-click="newsToBack()"></button>
  <h1 class="title">新闻详情</h1>
</div>
<ion-content style="margin-top:40px">

    <div class="item item-body">
        <h2>{{newsDetail.header}}</h2>

        <p>{{newsDetail.fbr}}&nbsp;&nbsp;{{newsDetail.fbdate}}</p>
<!--         <a href="#/img/{{news.filename}}"> <img class="full-image" src="{{news.filename}}"></a> -->
 <!--     <img class="full-image" src="{{newsDetail.filename}}"  ng-click="showDetailImage(2)"> -->
       <img class="full-image" src="{{newsDetail.filename}}"  >
         <p ng-bind-html="newsDetail.content | rawHtml"> </p>
   
        <p>
            附件: <a href="{{newsDetail.attachment_url}}" class="subdued">{{newsDetail.attachment}}</a>
        </p>
    </div>


</ion-content>
     <script id="imageDetail-modal.html" type="text/ng-template"> 
              <div class="modal image-modal transparent" ng-click="closeImageDetailModal()">
                  <ion-pane class="transparent">
	 <ion-scroll  delegate-handle="smallsss"  class="fullscreen-image" align-middle  zooming="true" min-zoom=1 max-zoom=1.7 direction="xy" class="fullscreen-image" style="top:50%;left:50%;width: 100%; height:  100%; margin-top:{{picmargintop}}!important; margin-left:{{picmarginleft}}!important " >
        <img src="{{newsDetail.filename}}" id="notice_img"   height='100%'  width = '100%'  />
    </ion-scroll>
                  </ion-pane>
              </div>
  </script> 
</ion-view>
</ion-modal-view>