/* Empty. Add your own CSS if you like */
ion-nav-view {
    background-color: #ffffff;
}


.item-note {
    width: 100%;
}

.item-note .date {
    text-align: right;
    float: right;
}

.item-note .state {
    text-align: left;
}
.item-note .row,.item-note .col{
    padding: 0;
 }
 
.newsImage .scroll {
    height: 100%;
}

.newsImage .scroll img {
    /*position: absolute;*/
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    /*width: auto;*/
    max-width: 100%;
    /*height: auto;*/
    /*max-height: 100%;*/
    /*top: 50%;*/
    /*margin-top: -150px;*/
}
.newsImage .option{
    position: fixed;
    float: right;
}
 
.center{
	  text-align: center;
}

.depponback{
	color:#157DFB ! important ;
}

 .depponback:hover{
	color:#157DFB ! important ;
}
/*
.item-thumbnail-left, .item-thumbnail-left .item-content {
padding-left: 130px;
min-height: 100px;
}
.item-thumbnail-left .item-content .item-image, .item-thumbnail-left .item-content>img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left>img:first-child {
position: absolute;
top: 10px;
left: 10px;
max-width: 116px;
min-height: 59px;
max-height: 59px;
width: 100%;
}
.news-image{
	width:116px;
	height:59px;
	padding:6px 0 3px 0;
}
*/
.news-image{
	width:100%;
	height:75%;
	padding:6px 0 3px 0;
}
/*标题栏按钮文字靠上*/
.bar .button.button-icon {
    font-size: 18px;
}

/*第一个页面返回按钮文字加粗*/
.first-page, .first-page:before {
    font-weight: 600;
}
/*已读、未读 颜色*/
.unread{
	color:#000 ! important ;
}
.read{
	color:#666 ! important ;
	
}

.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
.bar .title {
position: absolute;
top: 0;
right: 0;
left: 0;
z-index: 0;
overflow: hidden;
margin: 0 10px;
min-width: 30px;
height: 43px;
text-align: center;
text-overflow: ellipsis;
white-space: nowrap;
font-size: 19px;
font-weight:bold;
line-height: 44px;
}

/**设置加载框*/
.loading-container .loading{
    background-color: rgba(255,255,255,0) !important;
    padding: 0 !important;
}

.loading {
    text-align: left !important;
}

.load-img{
	width:60%;
}