<ion-modal-view>
    <ion-view 
              dp-back-nav-href="closeModal()" dp-nav-title="选择地址">
        <ion-content class="dp-content addressContent">
        <div hello=""></div>
            <div dp-content-footer>
                <!-- <ion-list> -->
                    <div class="list" style="margin-top: 40px;margin-bottom:0px;">
                        <div class="item item-divider hotCitys" style="font-size:1em;">{{citycode}}</div>
                        <div class="item dp-row ">
                            <a class="col col-33 button button-clear button-stable hosAddress fontColor" style="font-size:1.07em;"
                               ng-repeat="item in hotCity"
                               ng-click="switchMonth('{{item.city_code==null?item.area_code==null?item.id:item.area_code:item.city_code}}',$index,'{{item.city_name==null?item.area_name==null?item.name:item.area_name:item.city_name}}')">
                                {{item.city_name}}{{item.area_name}}{{item.name}} </a>
                        </div>
                        <div ng-show="show">
                            <div class="item item-divider hospital" style="font-size:1em;">省份/直辖市</div>
                            <div class="item dp-row">
                                <a
                                        class="col col-33 button button-clear button-stable hosAddress fontColor" style="font-size:1.07em;"
                                        ng-repeat="item in provinces"
                                        ng-click="switchMonth('{{item.province_code}}',$index,'{{item.province_name}}')">
                                    {{item.province_name}} </a>
                            </div>
                        </div>
                    </div>
               <!--  </ion-list> -->
            </div>
        </ion-content>
    </ion-view>
</ion-modal-view>
<div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  
