<ion-view title="公告" load-compent="isShow">
    <ion-nav-buttons side="left">
        <button class="depponback button-icon icon ion-ios7-arrow-left button back-button first-page" ng-click="back()"></button>
    </ion-nav-buttons>
<ion-content when-scrolled>
<!--  <div class="bar bar-header item-input-inset"> -->
<!--     <label class="item-input-wrapper"> -->
<!--         <i class="icon ion-ios7-search placeholder-icon"></i> -->
<!--         <input type="search" placeholder="搜索" ng-change="searchChange()" ng-focus="searchFocus()"  ng-model="searchValue"> -->
<!--     </label> -->
<!-- 	<span ng-hide="searchCancleHide" class="smallbtn"> -->
<!--     <a class="button button-icon icon ion-ios7-close-empty depponback"  ng-click="canceled()"> -->
<!--     </a> -->
<!--     </span> -->
<!-- </div>  -->
    <ion-refresher
            pulling-text="下拉刷新..."
            on-refresh="doRefresh(1)">
    </ion-refresher>

    <ion-slide-box auto-play="true">
        <ion-slide ng-repeat="item in imgs">
            <div class="box">
                <img class="newsSlideImage" ng-src="{{item.url}}"/>
            </div>
        </ion-slide>
    </ion-slide-box>
    
    <ion-list>
       <a id="test{{$index}}" class="item item-icon-right" ng-repeat="item in news"  href="#/noticeDetail/{{item.ggid}}">
           {{item.header}}
             <span class="item-note">
	      {{item.fbdate}}
	    </span>
	     <i class="icon"><img src="../images/ios/to_right.png" style="width:10px;height:17px;"></i>
        </a>
    </ion-list>
    <ion-infinite-scroll
            ng-if="moreDataCanBeLoaded"
            on-infinite="loadMore()"
            icon="ion-loading-c"
            distance="1%">
    </ion-infinite-scroll>
    <div class="center">{{nullNews==true?"没有更多内容":""}}</div>
</ion-content>
</ion-view>