<ion-view title="公告详情">
    <ion-nav-buttons side="left">
        <button class="depponback button-icon icon ion-ios7-arrow-left button back-button first-page" ng-click="back()"></button>
    </ion-nav-buttons>
<ion-content>

    <div class="item item-body">
        <h2>{{news.header}}</h2>

        <p>{{news.fbr}}&nbsp;&nbsp;{{news.fbdate}}</p>
        <!-- <a href="#/img/{{news.filename}}"> <img class="full-image" src="{{news.filename}}"></a> -->
     
       <p ng-bind-html="news.content | rawHtml"> </p>
   
        <p>
            附件: <a href="{{news.attachment_url}}" class="subdued">{{news.attachment}}</a>
        </p>
    </div>


</ion-content>
</ion-view>