<!DOCTYPE html>
<html>
<head>
    <title>德邦设置新密码，个人资料-德邦</title>
    <meta name="keywords" content="个人资料，忘记密码，找回，95353">
    <meta name="description" content="我的德邦，个人资料管理，忘记密码找回新密码">
</head>
<body>


<form name="findBackPassword" novalidate="novalidate">
    <div  dp-nav-href="#/login/myDeppon" dp-nav-title="找回密码" load-compent="isShow">
        
        <div class="dp-content">
        <div dp-content-footer>
            <div class="list dp-list">
                <div class="item item-icon-left item-height">
                    <i class="icon dp-item-icon"><img src="img/ic_user.png"></i>
                    <span class="dp-item-input style="width:100%;">
                        <input  type="text" class="fontSize" placeholder="我的手机号" maxlength="11" name="phone" ng-model="phone"
                                 ng-pattern="/^(1[0-9]{10}|[0-9]{8})$/" required ng-blur="checkPhone()">
                    </span>
                </div>
                <div class="item item-icon-left dp-input-button item-height">
                    <div class="row">
                        <div class="col col-54">
                            <i class="icon dp-item-icon"><img src="img/ic_vcode.png"></i>
                            <input type="text" class="fontSize" placeholder="请输入验证码" maxlength="6" name="validateCode" ng-model="validateCode" required
                            ng-blur="checkCd()">
                        </div>
                        <div class="col">
                            <button class="button" ng-click="checkcode($event)" style="border-color: #babbbd;background-color: #e0e1e3;background-image: none;"><p ng-bind="codeText"></p></button>
                        </div>
                    </div>
                </div>
                <div class="item item-icon-left item-height">
                    <i class="icon dp-item-icon"><img src="img/ic_lock.png"></i>
                       <span class="dp-item-input" style="width:100%;">
                    <input class="dp-register-input fontSize" ng-model="password" minlength="6" maxlength="16" name="password" type="password" placeholder="密码：6-16位字母或数字"
                           ng-pattern="/^[A-Za-z0-9]{6,16}$/" required ng-blur="checkPassword()" style="width:100%;">
                       </span>
                </div>
                <div class="item item-icon-left item-height">
                    <i class="icon dp-item-icon"><img src="img/ic_validate.png"></i>
                    <span class="dp-item-input" style="width:100%;">
                    <input type="password" ng-model="newPwd" minlength="6" maxlength="16" name="newPwd" class="fontSize" placeholder="密码确认：请再次输入密码" required
                             ng-blur="checkNewPwd()">
                    </span>
                </div>
            </div>
            <div class="list">
            
               <div class="dp-check">
                     <div class="dp-market" name="market" ng-bind="errorText"></div>
                    <button class="button dp-long-button" ng-click="checkmm()">
                        <b>提&nbsp;交</b>
                    </button>
                </div>
            
               
            </div>
          </div>
        </div>
       
    </div>
    
   
</form>

 <div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>
</body>

</html>