<!DOCTYPE html>
<html>
<head>
    <title>德邦登录注册，我的德邦-德邦</title>
    <meta name="keywords" content="注册，登录，95353">
    <meta name="description" content="德邦官网新用户注册，老用户登录入口之一。">
</head>
<body>

<div dp-nav-href="#/" dp-nav-title="登录" load-compent="isShow">
    <div class="content">
        <div dp-content-footer class="list dp-content-list">
            <div class="dp-content" style="padding-top:16px;">
                <label class="item-input">
                    <input type="text" placeholder="请输入手机号/用户名" ng-model="userName" style="font-size:1.07em;">
                </label>
                <label class="item-input">
                    <input type="password" placeholder="请输入密码" ng-model="password" style="font-size:1.07em;">
                </label>
                <div class="dp-check">
                    <label style="border: 0!important;background-color: #f6F6F6!important;">
                        <input type="checkbox" ng-model="addCookie" ng-checked="addCookie"><span ng-checked="addCookie" style="font-size:1.07em;">记住账号</span>
                    </label>
                </div>
                <div class="dp-market" name="market" ng-bind="errorText"></div>
                <button class="button button-full dp-long-button" ng-click="loginGo()">
                    <b> 登&nbsp;录</b>
                </button>
                <div class="dp-content-footer">
                    <a href="#/register" style="font-size:14px;"><span style="font-size:1.07em;">注册账号</span></a>
                    <a href="#/findBackPassword"><img src="img/img_forget_pwd.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>

 
</body>
<div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>
</html>