<!DOCTYPE html>
<html>
<head>
    <title>德邦登录注册，我的德邦-德邦</title>
    <meta name="keywords" content="注册，登录，95353">
    <meta name="description" content="德邦官网新用户注册，老用户登录入口之一。">
</head>
<body>

<form name="register" novalidate>
    <div  dp-nav-href="#/login/register" dp-nav-title="注册" load-compent="isShow">
        <div class="content">
            <div dp-content-footer>
            <div class="dp-content">
            <div class="list dp-list">
                <div class="item item-icon-left item-height">
                    <i class="icon dp-item-icon"><img src="img/ic_user.png"></i>
                    <span class="dp-item-input" style="width:100%;font-size:14px;">
                        <input type="tel" class="fontSize" placeholder="我的手机号" name="phone" ng-model="phone"
                               ng-pattern="/^(1[0-9]{10}|[0-9]{8})$/" required ng-blur="checkPhone()" minlength="8" maxlength="11" style="font-size:1.07em;">
                    </span>
                </div>
                <div class="item item-icon-left dp-input-button item-height">
                    <div class="row">
                        <div class="col col-54">
                            <i class="icon dp-item-icon"><img src="img/ic_vcode.png"></i>
                            <input type="text" class="fontSize" placeholder="请输入验证码" ng-model="validateCode" name="validateCode" required
                                   ng-blur="checkCd()" maxlength="6" style="font-size:1.07em;">
                        </div>
                        <div class="col">
                            <button class="button" ng-click="checkcode($event)" style="background-color:#e0e1e3;background-image:none;border-color:#babbbd;font-size:14px;"><p ng-bind="codeText" class="fontSize" style="font-size:1.07em;"></p></button>
                        </div>
                    </div>
                </div>
                <div class="item item-icon-left item-height">
                    <i class="icon dp-item-icon"><img src="img/ic_lock.png"></i>
                    <span class="dp-item-input" style="width:100%;font-size:14px;">
                       <input class="dp-register-input fontSize" name="password" ng-model="password"
                              type="password" placeholder="密码：6-16位字母或数字"  ng-pattern="/^[A-Za-z0-9]{6,16}$/" required
                              ng-blur="checkPassword()" minlength="6" maxlength="16" style="width:100%;font-size:1.07em;">
                    </span>
                </div>
                <div class="item item-icon-left item-height">
                    <i class="icon dp-item-icon"><img src="img/ic_validate.png"></i>
                    <span class="dp-item-input" style="width:100%;font-size:14px;">
                      <input type="password" ng-model="pw" name="pw" class="fontSize" ng-pattern="/^[A-Za-z0-9]{6,16}$/" placeholder="密码确认：请再次输入密码" required
                             ng-blur="checkPw()" minlength="6" maxlength="16" style="font-size:1.07em;">
                    </span>
                </div>
            </div>
            <div class="list">
                <div class="dp-check">
                    <label><input type="checkbox" ng-init="dpcheck=true" name="dpcheck" ng-model="dpcheck"  ng-checked="dpcheck" required><span ng-checked="dpcheck">同意</span></label>
                    <a ng-click="openDeppon()" class="dp-item-a"><span>《德邦注册协议》</span></a>
                    <div class="dp-market" name="market" ng-bind="errorText"></div>
                    <button class="button dp-long-button" ng-click="registerGo()" ng-disabled="register.$invalid&&register.$dirty">
                        <b>注&nbsp;册</b>
                    </button>
                </div>
            </div>
          </div>
       </div>
        </div>
    </div>
</form>

<div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  
</body>
</html>