<div  dp-nav-href="#/" dp-nav-title="服务列表查询">
    <ion-content class="dp-map-content" style="margin-top: 60px;">
        <div class="lists dp-branchesarea-list dp-map-padding nonePadding">
            <label class="item-input item-icon-right input-label" style="font-size:14px;">
                <input type="text" name="areaValues" ng-model="area.sendcity" ng-click="openModal()"
                       ng-focus="inFocus($event)" readonly="readonly" class="address" style="font-size:1.08em;">
                <input type=hidden name="" ng-model="area.sendcityCode">
            </label>
        </div>
        <div class="account item-button-right dp-content-find dp-map-padding nonePadding">
            <label class="item item-input account-label">
                <input type="text" placeholder="输入关键字" ng-model="keyWords" class="account-input"
                       style="font-size:1.07em;line-height:38px;">
            </label>
            <button class="button searshBtn" ng-click="queryBranches(keyWords,area.sendcityCode,area.sendcity,0)"
                    style="font-size:1em;">查询
            </button>
        </div>
        <div class="branches">
            <div dp-content-footer>
                <div ng-repeat="item in branches">
                    <a ng-click="branchDetail('{{item.branches.branch_code}}')">
                        <div class="item-button-left dp-information-branches itemBranches">
                            <label class="item item-input">
                                <h2 style="font-size:1.15em;">{{item.name}}</h2>
                            </label>
                            <label class="item item-input" style="display:block;">
                                <img src="img/ic_branch_addr.png" width="25px" height="25px"
                                     style="border: 0px none;float:left;">
                                <!--  <input type="text"
                                     ng-model="userName1">-->
                                <h2 style="font-size:14px;"><p
                                        style="overflow:visible;text-overflow:initial;white-space:normal;padding-right:20px;font-size:1.07em">
                                    {{item.location_address}}</p></h2>
                            </label>
                            <label class="item item-input" style="display:block;">
                                <img src="img/ic_branch_type.png" width="25px" height="25px"
                                     style="border: 0px none;float:left;">

                                <h2 style="width:140px;float:left;font-size:14px;"><p style="font-size:1.07em;">
                                    {{item.business}}</p></h2>
                                <h2 style="margin-bottom:2px;font-size:14px;"><p style="font-size:1.07em;">
                                    距离：{{item.distance}}米</p></h2>
                                <!-- <input type="text"
                                    placeholder="可自提" ng-model="userName2">-->
                            </label>

                            <div class="item " style="display: -webkit-box;display: -webkit-flex;display: block;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;-moz-align-items: center;

align-items: center;position: relative;overflow: hidden;padding: 6px 0 5px 16px;">
                                <img src="img/ic_branch_tel.png" width="25px" height="25px"
                                     style="border: 0px none;float:left;"/>

                                <a ng-repeat="tel in item.telephone" href="tel:{{tel}}"
                                   style="text-decoration: none;display:block;float:left;margin-right:10px;">
                                    <h2 style="font-size:14px;"><p style="color: #3194FE;font-size:1.07em;">{{tel}} </p>
                                    </h2>
                                </a>

                                <!--<input type="text"
                                   placeholder="电话" ng-model="userName3">-->
                            </div>
                        </div>
                    </a>
                </div>
                <div style="text-align: center;margin-top: 40px"><p style="color:#3194FE;" ng-bind="loadMoreWord"></p>
                </div>
            </div>
        </div>
        <ion-infinite-scroll ng-if="hasMoreData()" on-infinite="queryBranches(keyWords,area.sendcityCode,area.sendcity)"
                             icon="ion-loading-c" distance="5%">
        </ion-infinite-scroll>
    </ion-content>
</div>
<div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  