<ion-view  dp-nav-href=javascript:history.go(-1)" dp-nav-title="市场活动">
    <ion-content >
    <div dp-content-footer>
<header>
    <h3 class="position-title" style="margin: 1%; margin-top:48px;padding: 0px 0px 0.5%;padding-left:3%; list-style: none; font-size: 18px; color: rgb(55, 60, 100); font-weight: normal; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(64, 60, 104); font-family: 'microsoft yahei', Tahoma, sans-serif;">标准快递</h3>
    <div class="videopic map" style="padding: 0px; margin: 1% 0px 0px; font-family: 'microsoft yahei', Tahoma, sans-serif; font-size: 12px; line-height: 21.6000003814697px;">
        <img  alt="德邦快递来了，限时未到运费全免" title="德邦快递来了，限时未到运费全免"  src="img/product-standard.jpg"  width="98%"   style="border: 0px none; vertical-align: middle;margin: 1%;" >
        
           <p style="color: rgb(63, 59, 103); font-size: 18px;padding-left:10px;"> 德邦快递，专业可靠</p>
         <h2 style="padding: 0px; margin: 1%; font-size: 14px; line-height: 25px; color: rgb(130, 130, 130);padding-left:10px;padding-right:10px;">
          承载您对德邦快递的信任，让您尊享标准化和人性化的服务</h2>
    </div>
    <div class="pic_txt" style="padding: 0px; margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; font-size: 12px; line-height: 21.6000003814697px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(197, 196, 209);">
    </div>
</header>
<article>
    <p style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;padding-left:10px;"><br>
        <font face=" 'microsoft yahei'">
            <font size="3">
                <font face=" 'microsoft yahei'">
                    <font size="3">
                        <strong>产品介绍：</strong>
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;padding-left:10px;padding-right:10px;">
        <font face=" 'microsoft yahei'">
            <font size="2">德邦快递，采用标准定价与标准操作流程，为客户提供安全可靠、服务专业、高性价比的快递体验。<br></font>
        </font>
    </p>
    <p style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;">&nbsp;</p>
    <p style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;padding-left:10px;">
        <font face=" 'microsoft yahei'">
            <font size="3">
                <font face=" 'microsoft yahei'">
                    <font size="3">
                        <strong>产品优势：</strong>
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;padding-left:10px;padding-right:10px;">
        <span style="color: rgb(51, 51, 51);">
            <font face=" 'microsoft yahei'">
                <font size="3">安全可靠</font>
            </font>
        </span>
        <font face=" 'microsoft yahei'">
            <font color="#033b70" size="3"><br></font>
            <font size="2">德邦快递，凭借我们遍布全国的5100多家直营门店， GPS全程货物跟踪，确保您的货物安全送达。<br></font>
            &nbsp;<br>
        </font>
        <span style="color: rgb(51, 51, 51);">
            <font face=" 'microsoft yahei'">
                <span style="font-size: small;">
                    <span style="font-size: larger;">
                        <font face=" 'microsoft yahei'">
                            <font size="3">专业服务</font>
                        </font>
                    </span></span></font></span>
        <font face=" 'microsoft yahei'">
            <font color="#3f3b67" size="3"><br></font>
            <font size="2">德邦快递，凭借我们60000余名优秀员工，体贴入微的增值服务体系，令您尊享全方位的专业服务。</font>
        </font>
        <font face=" 'microsoft yahei'">
            <font size="2"><br></font>
            &nbsp;<br></font>
        <span style="color: rgb(51, 51, 51);">
            <font face=" 'microsoft yahei'">
                <font size="3">精准时效</font>
            </font></span>
        <font face=" 'microsoft yahei'">
            <font color="#3f3b67" size="3"><br></font>
        </font><font face=" 'microsoft yahei'">
        <font size="2">凭借我们科学规划的6000多条运输线路，8800多辆自有大型专业货车，保障各环节以合适路由承运，</font>
    </font></p><p style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;padding-left:10px;">
    <font face=" 'microsoft yahei'"><font size="2">以</font></font>
    <font face=" 'microsoft yahei'"><font size="2">精准</font></font>
    <font face=" 'microsoft yahei'"><font size="2">的时效将货物送递您的手中。</font></font>
    <font face=" 'microsoft yahei'"><font size="2"></font></font></p>
    <p style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;">&nbsp;</p>
    <p style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;padding-left:10px;">
        <span style="color: rgb(51, 51, 51);">
            <font face=" 'microsoft yahei'">
                <font size="3">
                    <font face=" 'microsoft yahei'">
                        <font size="3"><strong>增值服务</strong></font>
                    </font></font></font>
            <font face=" 'microsoft yahei'">
                <font size="3">
                    <font face=" 'microsoft yahei'">
                        <font size="3"><strong>：</strong></font></font></font></font>
        </span></p>
    <p style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;">&nbsp;</p>
    <table cellspacing="0" cellpadding="0" margin="1%" border="1" class="MsoTableGrid" style="color: rgb(0, 0, 0); font-size: 12px; line-height: 21.6000003814697px; border: medium none; border-collapse: collapse; font-family:  'microsoft yahei', Arial, Verdana, sans-serif;margin-left:10px;margin-right:10px;">
        <tbody>
        <tr><td width="10.5%" valign="top" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border: 1pt solid windowtext; width: 47.95pt; background-color: rgb(0, 32, 96);"><p align="center" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px; text-align: center;"><span style="font-family: 'microsoft yahei', sans-serif; color: white; font-size: 8pt;">类别</span></p></td>
            <td width="36.6%" valign="top" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: solid solid solid none; width: 191.35pt; border-top-color: windowtext; border-top-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; background-color: rgb(0, 32, 96);"><p align="center" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px; text-align: center;"><span style="font-family:  'microsoft yahei', sans-serif; color: white; font-size: 8pt;">介绍</span></p></td>
            <td width="12%" valign="top" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: solid solid solid none; width: 2cm; border-top-color: windowtext; border-top-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; background-color: rgb(0, 32, 96);"><p align="center" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px; text-align: center;"><span style="font-family: 'microsoft yahei', sans-serif; color: white; font-size: 8pt;">服务范围</span></p></td>
            <td width="25.6%" valign="top" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: solid solid solid none; width: 130.1pt; border-top-color: windowtext; border-top-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; background-color: rgb(0, 32, 96);"><p align="center" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px; text-align: center;"><span style="font-family:  'microsoft yahei', sans-serif; color: white; font-size: 8pt;">备注</span></p></td></tr>
        <tr><td width="10.5%" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid; border-left-color: windowtext; border-left-width: 1pt; width: 47.95pt; border-right-color: windowtext; border-right-width: 1pt;"><p align="center" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px; text-align: center;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">代收货款</span></p></td>
            <td width="36.6%" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid none; width: 191.35pt; border-right-color: windowtext; border-right-width: 1pt;"><p align="left" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">替客户收回货款后，在承诺的退款时效内将货款汇出，包括“即日退”和“三日退”</span></p></td>
            <td width="12%" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid none; width: 2cm; border-right-color: windowtext; border-right-width: 1pt;"><p align="center" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px; text-align: center;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">全国</span></p></td>
            <td width="25.6%" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid none; width: 130.1pt; border-right-color: windowtext; border-right-width: 1pt;"><p align="left" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">即日退费率</span><span lang="EN-US" style="font-size: 8pt;">1%，三日退费率5‰</span></p></td></tr>
        <tr><td width="10.5%" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid; border-left-color: windowtext; border-left-width: 1pt; width: 47.95pt; border-right-color: windowtext; border-right-width: 1pt;"><p align="center" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px; text-align: center;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">保价</span></p></td>
            <td width="36.6%" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid none; width: 191.35pt; border-right-color: windowtext; border-right-width: 1pt;"><p align="left" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">寄件人可对托寄物内容向我司声明价值，并缴纳相应的费用，当货物在运输过程中发生损坏时，我司将按照托运人的声明价值赔偿一定损失</span></p></td>
            <td width="12%" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid none; width: 2cm; border-right-color: windowtext; border-right-width: 1pt;"><p align="center" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px; text-align: center;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">全国</span></p></td>
            <td width="25.6%" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid none; width: 130.1pt; border-right-color: windowtext; border-right-width: 1pt;"><p align="left" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">保价费：声明价值总金额</span><span lang="EN-US" style="font-size: 8pt;">*4</span><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">‰</span></p><p align="left" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">声明价值上限</span><span lang="EN-US" style="font-size: 8pt;">2</span><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">万</span></p></td></tr>
        <tr><td width="10.5%" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid; border-left-color: windowtext; border-left-width: 1pt; width: 47.95pt; border-right-color: windowtext; border-right-width: 1pt;"><p align="center" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px; text-align: center;"><span style="font-family: 'microsoft yahei', sans-serif; font-size: 8pt;">短信通知</span></p></td>
            <td width="36.6%" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid none; width: 191.35pt; border-right-color: windowtext; border-right-width: 1pt;"><p align="left" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">及时通过手机短信向客户传递货物信息，通知内容包括货物出发、派送通知、签收短信等信息</span></p></td>
            <td width="12%" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid none; width: 2cm; border-right-color: windowtext; border-right-width: 1pt;"><p align="center" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px; text-align: center;"><span style="font-family: 'microsoft yahei', sans-serif; font-size: 8pt;">全国</span></p></td>
            <td width="25.6%" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid none; width: 130.1pt; border-right-color: windowtext; border-right-width: 1pt;"><p align="left" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">免费</span></p></td></tr>
        <tr><td width="64" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid; border-left-color: windowtext; border-left-width: 1pt; width: 47.95pt; border-right-color: windowtext; border-right-width: 1pt;"><p align="center" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px; text-align: center;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">实时跟踪</span></p></td><td width="255" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid none; width: 191.35pt; border-right-color: windowtext; border-right-width: 1pt;"><p align="left" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">利用</span><span lang="EN-US" style="font-size: 8pt;">GPS</span><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">全程定位，客户可在我司官网“货物追踪”模块，输入单号查询货物实时状态</span></p></td>
            <td width="76" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid none; width: 2cm; border-right-color: windowtext; border-right-width: 1pt;"><p align="center" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px; text-align: center;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">全国</span></p></td><td width="173" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid none; width: 130.1pt; border-right-color: windowtext; border-right-width: 1pt;"><p align="left" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">免费</span></p></td></tr><tr><td width="64" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid; border-left-color: windowtext; border-left-width: 1pt; width: 47.95pt; border-right-color: windowtext; border-right-width: 1pt;"><p align="center" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px; text-align: center;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">包装</span></p></td><td width="255" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid none; width: 191.35pt; border-right-color: windowtext; border-right-width: 1pt;"><p align="left" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">根据所寄快件类别的实际情况，为客户提供最佳的包装服务</span></p></td><td width="76" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid none; width: 2cm; border-right-color: windowtext; border-right-width: 1pt;"><p align="center" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px; text-align: center;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">全国</span></p></td><td width="173" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid none; width: 130.1pt; border-right-color: windowtext; border-right-width: 1pt;"><p align="left" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">包括纸箱、纤袋、胶袋、文件封、气泡膜等</span></p></td></tr><tr><td width="64" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid; border-left-color: windowtext; border-left-width: 1pt; width: 47.95pt; border-right-color: windowtext; border-right-width: 1pt;"><p align="center" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px; text-align: center;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">签单返回</span></p></td><td width="255" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid none; width: 191.35pt; border-right-color: windowtext; border-right-width: 1pt;"><p align="left" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">应客户需求，将收件方签收确认后的送货单或签收单，以原件或传真件的形式返还给寄件方</span></p></td>
            <td width="76" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid none; width: 2cm; border-right-color: windowtext; border-right-width: 1pt;"><p align="center" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px; text-align: center;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">北上广深等部分城市</span></p></td><td width="173" style="padding: 0cm 5.4pt;  margin: 1%; line-height: 21.6000003814697px; border-bottom-color: windowtext; border-bottom-width: 1pt; border-style: none solid solid none; width: 130.1pt; border-right-color: windowtext; border-right-width: 1pt;"><p align="left" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;"><span style="'microsoft yahei', sans-serif; font-size: 8pt;">原件返回：按首重计费</span></p><p align="left" class="MsoNormal" style="padding: 0px;  margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;"><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">传真件返回：</span><span lang="EN-US" style="font-size: 8pt;">5</span><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">元</span><span lang="EN-US" style="font-size: 8pt;">/</span><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;">票</span></p><div><span style="font-family:  'microsoft yahei', sans-serif; font-size: 8pt;"><br></span></div></td></tr>
        </tbody></table>
    <p style="padding: 0px;  margin: 1%; font-size: 12px; line-height: 25px; color: rgb(0, 0, 0);"><br>
    <div class="pic_txt" style="padding: 0px; margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; font-size: 12px; line-height: 21.6000003814697px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(197, 196, 209);">
    </div></p>
<!--     <p style="padding: 0px; margin: 1%; font-size: 12px; line-height: 25px; color: rgb(0, 0, 0);"><br> -->
        <div margin="1%">
        <font face="微软雅黑" size="2" style="padding-left:10px;">详情请咨询“在线客服”或致电客户服务热线：95353</font></p>
    <p style="padding: 0px;  margin: 1%; font-size: 12px; line-height: 25px; color: rgb(0, 0, 0);"><span style="color: rgb(51, 51, 51); padding-left:10px"><a href="http://www.deppon.com/transonline/orderBrowse.action" style="color: rgb(0, 0, 0); text-decoration: none;">
        <font face="微软雅黑">
            <font size="3">
                <font face="微软雅黑">
                    <font size="2"><strong>网上下单</strong></font></font></font></font>
    </a></span>
        <span style="color: rgb(51, 51, 51);padding-left:10px"><a href="http://www.deppon.com/jiage/" style="color: rgb(0, 0, 0); text-decoration: none;"><font face="微软雅黑"><font size="3"><font face="微软雅黑"><font size="2"><strong>价格/时效查询</strong></font></font></font></font></a></span>
        <a href="http://www.deppon.com/fanwei/" style="color: rgb(0, 0, 0); text-decoration: none;padding-left:10px;"><span style="color: rgb(0, 0, 255);"><font face="微软雅黑">
            <font size="3">
                <font face="微软雅黑">
                    <font size="2"><strong>快递收送范围查询</strong></font></font></font></font></span></a>
     </div>
    </p><br>

</article>
</div>

</ion-content>
    </ion-view>
     <div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  