<ion-view dp-nav-href="javascript:history.go(-1)" dp-nav-title="市场活动">
<ion-content >
<div dp-content-footer>

<!-- <header>
    <h3 class="position-title" style="margin: 1%;margin-top:48px; padding: 0px 0px 0.5%;list-style: none; font-size: 16px; color: rgb(55, 60, 100); font-weight: normal; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(64, 60, 104); font-family: 'microsoft yahei', Tahoma, sans-serif;">德邦18载，全国5000家，好礼“载”回“家”</h3>
    <div class="videopic map" style="padding: 0px; margin: 1% 0px 0px; font-family: 'microsoft yahei', Tahoma, sans-serif; font-size: 12px; line-height: 21.6000003814697px;">
        <img  alt="德邦18载，全国5000家" title="德邦18载，全国5000家"  src="http://www.deppon.com/u/cms/cms/201409/25105034gh69.jpg"  width="98%" height="98%"  style="border: 0px none; vertical-align: middle;margin: 1%;" >
        <p style="padding: 0px; margin: 1%; font-size: 14px; line-height: 25px; color: rgb(130, 130, 130);">
    </div>
    <div class="pic_txt" style="padding: 0px; margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; font-size: 12px; line-height: 21.6000003814697px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(197, 196, 209);">
    </div>
</header> -->

<header>
    <h3 class="position-title" style="margin: 1%; margin-top:48px;padding: 0px 0px 0.5%; padding-left:10px;padding-right:10px;list-style: none; font-size: 18px; color: rgb(55, 60, 100); font-weight: normal; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(64, 60, 104); font-family: 'microsoft yahei', Tahoma, sans-serif;">优惠活动</h3>
    <div class="videopic map" style="padding: 0px; margin: 1% 0px 0px; font-family: 'microsoft yahei', Tahoma, sans-serif; font-size: 12px; line-height: 21.6000003814697px;">
        <img  alt="德邦18载，全国5000家" title="德邦18载，全国5000家"  src="img/marketList4.jpg"  width="98%"   style="border: 0px none; vertical-align: middle;margin: 1%;" >
        
           <p style="color: rgb(63, 59, 103); font-size: 18px;padding-left:10px;padding-right:10px;">德邦18载，全国5000家</p>
         <h2 style="padding: 0px; margin: 1%; font-size: 14px; line-height: 25px; color: rgb(130, 130, 130);padding-left:10px;padding-right:10px;">
          扫描德邦物流官方微信并关注微信公众平台，即可凭运单号参与微信刮奖，将有机会获得iphone</h2>
    </div>
    <div class="pic_txt" style="padding: 0px; margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; font-size: 12px; line-height: 21.6000003814697px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(197, 196, 209);">
    </div>
</header>

<article>
    <div class="schd bord0"
         style="padding: 15px 2% 2% 0px; margin: 1%; border-bottom-width: 0px;">
        <ul class="li_zq"
            style="margin: 0.6%; padding: 0px; list-style: none; overflow: hidden;">
            <li
                    style="margin: 1%  0.6%; padding: 0px; padding-left:10px;padding-right:10px;list-style: none; float: left; display: block; height: auto; line-height: 25px; width: 100%; text-align: left; color: rgb(102, 102, 102);"><span
                    style="font-size: 14px; color: rgb(0, 0, 0);">活动时间：</span><small>2014年9月5日~2014年10月18日(已结束)</small></li>
            <li
                    style="margin: 1% 0px 0px 0.6%; padding: 0px; padding-left:10px;padding-right:10px;list-style: none; float: left; display: block; height: auto; line-height: 25px; width: 100%; text-align: left; color: rgb(102, 102, 102);"><span
                    style="font-size: 14px; color: rgb(0, 0, 0); ">活动范围：</span><small>全国所有营业部（香港营业部除外、德邦快递限快递上线城市）</small></li>
            <li class="cont"
                style="margin: 1% 0px 0px 0.6%; padding: 0px;padding-left:10px;padding-right:10px; list-style: none; float: left; display: block; height: auto; line-height: 25px; width: 100%; text-align: left; color: rgb(102, 102, 102);"><span
                    style="font-size: 14px; color: rgb(0, 0, 0);">活动内容：</span>
                <ul style="margin-left: 10%; padding: 0px 0px 0px 7%; list-style: none;clear:left">
                    <p style="padding: 0px; margin: 1%; line-height: 21.600000381469727px;"></p>
                    <p style="padding: 0px; margin: 1%; line-height: 21.600000381469727px;">
                        <strong><span
                                style="font-size: 14px; color: rgb(0, 0, 0); font-family:  'microsoft yahei';"><span
                                style="font-size: small;">活动一：</span></span></strong><span
                            style="font-size: 14px; color: rgb(0, 0, 0); font-family:  'microsoft yahei';"><span
                            style="font-size: small;">活动期间，扫描德邦物流官方微信并关注微信公众平台，即可凭运单号参与微信刮奖，将有机会获得iphone
								5S、ipad mini、iPod touch、iPod shuffle等大奖，奖品多多，先到先得！<br>
							<strong>活动二：</strong>活动期间，登录德邦官网，即可凭运单号参与官网砸金蛋，将有机会获得iphone
								5S、ipad mini、iPod touch、iPod shuffle等大奖，奖品多多，先到先得！<br>
							<strong>奖品设置：&nbsp;</strong><br>
							<img width="115%" height="103" alt=""
                                 src="http://www.deppon.com/u/cms/cms/201409/01084419oz57.jpg"
                                 style="border: 0px none; vertical-align: middle;width:100%;"><br>
						</span></span>
                    </p>
                    <p
                            style="padding: 0px; margin: 1%; line-height: 21.600000381469727px;">
                        <strong><span
                                style="font-size: 14px; color: rgb(0, 0, 0); font-family:  'microsoft yahei';"><span
                                style="font-size: small;">活动规则：</span></span></strong><span
                            style="font-size: 14px; color: rgb(0, 0, 0); font-family:  'microsoft yahei';"><span
                            style="font-size: small;"><br>（1）客户进入德邦官网（德邦物流微信公众平台）抽奖页面，输入相应运单号+发货手机号码进行抽奖；&nbsp;<br>（2）参与抽奖的运单号开单时间须在2014年9月5日—2014年10月18日范围内；<br>（3）发货时凭优惠券抵扣相应金额（空运、偏线、整车产品除外），优惠券每单限使用一张，不找零，不兑现；<br>（4）客户抽中实物奖品后，请于5个工作日内到营业部凭发货底单和身份证原件领取奖品；<br>（5）优惠券有效期：2014年9月5日—2014年10月31日。<br></span><strong><span
                            style="font-size: small;">用券规则：</span></strong></span><br>
                        <img width="115%" height="93" alt=""
                             src="http://www.deppon.com/u/cms/cms/201409/01084433inum.jpg"
                             style="border: 0px none; vertical-align: middle;width:100%;">
                    </p>
                    <p
                            style="padding: 0px; margin: 1%; line-height: 21.600000381469727px;">&nbsp;</p>
                    <p
                            style="padding: 0px; margin: 1%; line-height: 21.600000381469727px;">&nbsp;</p>
                    <p align="center"
                       style="padding: 0px; margin: 1%; line-height: 21.600000381469727px;">
                        <font face=" 'microsoft yahei'" size="2"><a
                                href="http://www.deppon.com/transonline/orderBrowse.action"
                                target="_blank" dir="ltr"
                                style="font-size: 14px; color: rgb(255, 255, 255); text-decoration: none; display: block; height: 25px; width: 150px; background: rgb(55, 60, 100);">立刻下单发货</a></font><br>
                        <br>
                    </p>
                    
                </ul></li>
        </ul>
        <p style="padding: 0px; margin: 1%; line-height: 21.600000381469727px; text-align: center;">
                        &nbsp;<span style="text-align: right;">详情请咨询：95353
							&nbsp;或当地营业部</span><span style="text-align: right;">德邦物流股份有限公司</span></p>
		<p style="padding: 0px; margin: 1%; line-height: 21.600000381469727px; text-align: center;"><span style="text-align: right;">2014-09-01
							08:30:36</span></p>
                    
    </div>
</article>
</div>

</ion-content >
</ion-view>
<div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  