<ion-view dp-nav-href="javascript:history.go(-1)" dp-nav-title="市场活动">
<ion-content>
<div dp-content-footer>
 <header>
	<h3 class="position-title"
		style="margin: 1%; margin-top: 48px; padding: 0px 0px 0.5%; padding-left:10px;list-style: none; font-size: 18px; color: rgb(55, 60, 100); font-weight: normal; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(64, 60, 104); font-family: 'microsoft yahei', Tahoma, sans-serif;">精准大票，低至6折</h3>
	<div class="videopic map"
		style="padding: 0px; margin: 1% 0px 0px; font-family: 'microsoft yahei', Tahoma, sans-serif; font-size: 12px; line-height: 21.6000003814697px;">
		<img alt="德邦物流市场活动" title="德邦物流市场活动"
			src="img/marketList2.jpg"
			width="98%" 
			style="border: 0px none; vertical-align: middle; margin: 1%;">

		<!-- <p style="color: rgb(63, 59, 103); font-size: 18px;">德邦快递，专业可靠</p>
		<h2
			style="padding: 0px; margin: 1%; font-size: 14px; line-height: 25px; color: rgb(130, 130, 130);">
			承载您对德邦快递的信任，让您尊享标准化和人性化的服务</h2> -->
	</div>
	<div class="pic_txt"
		style="padding: 0px; margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; font-size: 12px; line-height: 21.6000003814697px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(197, 196, 209);">
	</div>
</header>



<article>

<p
		style="padding: 0px; padding-left:10px;padding-right:10px;margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;">
		<br> <font face=" 'microsoft yahei'"> <font size="3">
				<font face=" 'microsoft yahei'"> <font size="3"> <strong>活动时间：</strong>
				</font>
			</font>
		</font>
		</font>
	</p>
	<p
		style="padding: 0px; padding-left:10px;padding-right:10px;margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;">
		<font face=" 'microsoft yahei'"> <font size="2">2014年11月3日~2014年12月31日<br></font>
		</font>
	</p>
	<p
		style="padding: 0px; margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;">&nbsp;</p>
	<p
		style="padding: 0px;padding-left:10px;padding-right:10px; margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;">
		<font face=" 'microsoft yahei'"> <font size="3"> <font
				face=" 'microsoft yahei'"> <font size="3"> <strong>活动范围：</strong>
				</font>
			</font>
		</font>
		</font>
	</p>
	<p
		style="padding: 0px;padding-left:10px;padding-right:10px; margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;">

		<font face=" 'microsoft yahei'"> <font color="#033b70" size="3"><br></font>
			<font size="2">全国营业部（香港除外）<br></font>
			&nbsp;<br>
		</font>
	</p>

	<p
		style="padding: 0px; margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;">&nbsp;</p>
	<p
		style="padding: 0px;padding-left:10px;padding-right:10px; margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;">
		<font face=" 'microsoft yahei'"> <font size="3"> <font
				face=" 'microsoft yahei'"> <font size="3"> <strong>活动内容：</strong>
				</font>
			</font>
		</font>
		</font>
	</p>
	<p
		style="padding: 0px; padding-left:10px; padding-right:10px;margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;">

		<font face=" 'microsoft yahei'"> <font color="#033b70" size="3"><br></font>
			<font size="2">活动期间，客户来我司发货，目的站为指定营业部，且单票货物重量在0.5t（不含超重货）<br>或体积2.5m³以上，即可享受最低至6折纯运费优惠。<br></font>
			&nbsp;<br>
		</font>
		
	 	 <span style="color: rgb(51, 51, 51);"> <font
			face=" 'microsoft yahei'"> <span style="font-size: small;">
					<span style="font-size: larger;"> <font
						face=" 'microsoft yahei'"> <font size="3">备注：</font>
					</font>
				</span>
			</span></font></span> <font face=" 'microsoft yahei'"> <font color="#3f3b67"
			size="3"><br></font> <font size="2">（1）精准大票优惠不与其他任何形式的优惠同时享用；<br>
								（2）详情请咨询当地营业部或致电95353。<br><br>
		</font>
		</font>
	</p>
	<p
		style="padding: 0px; margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;">&nbsp;</p>

	<p align="center"
		style="padding: 0px; margin: 0px; line-height: 21.6000003814697px;">
		<font size="2" face="微软雅黑"><a dir="ltr" target="_blank"
			href="http://www.deppon.com/transonline/orderBrowse.action"
			style="font-size: 14px; color: rgb(255, 255, 255); text-decoration: none; display: block; height: 25px; width: 150px; background: rgb(55, 60, 100);">立即下单发货</a></font>
	</p>


	<p
		style="padding: 0px; margin: 1%; font-family: 'microsoft yahei', Tahoma, sans-serif; line-height: 25px;">&nbsp;</p>
	<p
		style="padding: 0px; margin: 1%; font-size: 12px; line-height: 25px; color: rgb(0, 0, 0);">
		<br>
	<div style="margin:1%;padding-left:10px;padding-right:10px;">
		<font face="微软雅黑" size="2">详情请咨询：95353或当地营业部 德邦物流股份有限公司<br>2014-07-18
			08:16:20
		</font>
		</p>
		<br>


</article>


</div>

</ion-content> </ion-view>
 <div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  