<ion-view dp-nav-href="#/" dp-nav-title="地址查询">
    <ion-content class="dp-content-notop" style="margin-top: 25px">
        <div dp-content-footer>
        <div hello=""></div>
        <!-- <div class="list dp-receive-list" >
           {{demo}}
        </div> -->
        <div id="map"></div>
            </div>
    </ion-content>
</ion-view>
<div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  