<!DOCTYPE html>
<html>
<head>
    <title>快递收送范围-德邦</title>
    <meta name="keywords" content="德邦物流网点查询,德邦物流网点电话查询,德邦物流列表查询，95353">
    <meta name="description" content="德邦快递收送货范围查询，收件区域，送件区域。">
</head>
<body>

<div   dp-nav-href="#/" dp-nav-title="快递收送范围"  load-compent="isShow">
    <div class="dp-content-notop" style="padding-left:0px;padding-right:0px;">
        <div dp-content-footer>
            <div hello=""></div>
            <div class="list" style="margin-top: 35px;padding:0px 3.7%;">
        <span class="item-input item-icon-right dp-input" ng-click="openModal()" style="font-size:14px;">
             <a ><i class="icon"><img src="img/ic_area.png"
                                                            style="cursor:hand;width:32px;height:32px;padding-right:0px;margin-top:3px;"></i></a>
                <input type="text" readonly="readonly" placeholder="请选择您需要查询的城市和区域"
                       name="name" ng-model="area.name"
                       required style="background-color:#fff;font-size:1.07em;">
                       <input type="hidden" ng-model="area.code">
        </span>

                <div style="margin-top:20px;font-size:14px;" ng-show="receive">
                    <div class="p-angle-bending" style="font-size:1.15em;">收件区域</div>
                    <div class="angle-bending" style="min-height: 100px;padding-top:20px;padding-bottom:20px;font-size:1em;" ng-bind="receive">
                    </div>
                    <div class="p-angle-bending" style="font-size:1.15em;">送件区域</div>
                    <div class="angle-bending" style="min-height: 100px;padding-top:20px;padding-bottom:20px;font-size:1em;" ng-bind="sender"></div>
                    <button class="button button-full dp-long-button" ng-click="check2()">
                        <b class="calculate" style="font-size:1em;">我要下单</b>
                    </button>
                </div>

                <div ng-show="tshow">
                <div class="p-angle-bending-text33 dp-span-color fontSize" style="padding-top:80px;font-size:1em;margin-bottom:80px;">提示：您当前还未选择城市和区域</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  

</body>
</html>