<!DOCTYPE html>
<html>
<head>
    <title>货物追踪信息-德邦</title>
    <meta name="keywords" content="德邦物流快递货物追踪，95353">
    <meta name="description" content="德邦货物追踪，德邦单号追踪，德邦快递单号追踪，实时帮助客户了解货物运输状态，方便客户查询物流状况。">
</head>
<body>
<ion-view dp-nav-href="#/goodSelect" dp-nav-title="货物追踪" load-compent="isShow">
    <ion-content>
        <div dp-content-footer>
            <div class="dp-track-content">
                <div class="button-bar bar-light dp-map-padding nonePadding"
                     style="margin-top: -20px; width: 90%; margin-left: 5%;">
                    <a class="button {{switch1}} docList" ng-click="switchType(1)"
                       style="border-radius: 5px 0px 0px 5px; padding:3px 16px;font-size:1em;">货物轨迹</a> <a
                        class="button {{switch2}} history" ng-click="switchType(2)"
                        style="border-radius: 0px 5px 5px 0px; padding:3px 16px;font-size:1em;">货物信息</a>
                </div>
                <div ng-show="ddgz">
                    <div class="lists" style="font-size:14px;">
                        <div style="height: 50px;padding-top: 13px;padding-bottom: 13px;font-size:1.07em;" class="angle-bending2">
                            <a class="item2" href="#/goodSelect" >运单号：{{ billNo }}</a>
                        </div>
                    </div>
                    <div class="account item-button-right  dp-map-padding nonePadding">
                        <ion-list>
                            <div class="dashed">
                                <div style="margin-top: 10px;" ng-repeat="item in orderTrack">
                                    <div ng-if="ol>1">
                                    <div style="border-left: 1px solid #f6f6f6;margin-left: -1px;font-size:14px;" ng-if="$index==0">
                                        <img src="img/ic1.png" style="margin-left: -6px;width: 10px;height:10px;"/>
                                        <span class="item2" style="font-size:1.07em">
                                        {{item.content}}</span>
                            <span class="item-note" style="padding-top: 15px;padding-bottom: 5px;border-left: 1px dashed #d4d4d4;margin-left: -1px;margin-top:-5px;float: left;padding-left: 20px;">
                                    {{item.operateDate}} {{item.operateTime}}
                            </span>
                                        <hr style="border:1px dashed #d4d4d4;margin-left: 20px;"/>
                                    </div>
                                    <div style="padding-left: 20px;font-size:14px;" ng-if="$index!=0&&$index<ol-1">
                                         <img src="img/ic2.png" style="margin-left: -26px;width: 10px;height:10px;"/>
                                         <span class="item2" style="font-size:1.07em">
           										{{item.content}}</span>
                            <span class="item-note" style="padding-top: 10px;padding-bottom: 5px;">
                                    {{item.operateDate}} {{item.operateTime}}
                            </span>
                                        <hr style="border:1px dashed #d4d4d4;padding-left: 10px;"/>
                                    </div>
                                    <div style="font-size:14px;" ng-if="$index!=0&&$index==ol-1">
                                        <img src="img/ic2.png" style="margin-left: -6px;width: 10px;height:10px;"/>
                                            <span class="item2" style="font-size:1.07em">{{item.content}}</span>
                            <span class="item-note" style="padding-top: 16px;padding-bottom: 5px;padding-left: 20px;margin-top:-6px;float:left;border-left: 1px solid #f6f6f6;margin-left: -1px;">
                                    {{item.operateDate}} {{item.operateTime}}
                            </span>
                                        <hr style="border:1px dashed #d4d4d4;margin-left: 20px;"/>
                                    </div>
                                    </div>
                                    <div ng-if="ol==1">
                                    <div style="border-left: 1px solid #f6f6f6;margin-left: -1px;font-size:14px;" >
                                        <img src="img/ic1.png" style="margin-left: -6px;width: 10px;height:10px;"/>
                                         <span class="item2" style="font-size:1.07em">
                                           	{{item.content}}</span>
                            <span class="item-note" style="padding-top: 16px;padding-bottom: 5px;padding-left: 20px;margin-top:-6px;float:left;border-left: 1px solid #f6f6f6;margin-left: -1px;">
                                    {{item.operateDate}} {{item.operateTime}}
                            </span>
                                        <hr style="border:1px dashed #d4d4d4;margin-left: 20px;"/>
                                    </div>
                                    </div>
                                </div>
                                <div class="center2">{{orderTrackNull==true?"亲，没有查到相关运单信息哦":""}}</div>
                            </div>
                        </ion-list>
                    </div>
                </div>
                <div class="account item-button-right  dp-map-padding nonePadding" ng-show="other">
                    <div style="margin-top:20px;font-size:14px;" ng-if="orderTrackNull==false">
                        <div class="p-angle-bending" style="font-size:1.15em;">货物基本信息</div>
                        <div class="angle-bending2" style="min-height: 160px;padding-top:10px;padding-bottom:10px;">
                            <div class="row">
                                <div class="col col-50">目的城市：{{waybill.consigneeCityName}}</div>
                                <div class="col col-50">货物件数：{{waybill.pieces}}&nbsp;件</div>
                            </div>
                            <div class="row">
                                <div class="col col-50">货物重量：{{waybill.weight}}&nbsp;公斤</div>
                                <div class="col col-50">货物体积：{{waybill.cubage}}&nbsp;立方米</div>
                            </div>
                            <div class="row">
                                <div class="col">承运方式：
                                	<span ng-switch on="waybill.tranProperty">
                       					<span ng-switch-when='LRF'>精准汽运（长途）</span>
                       					<span ng-switch-when='FLF'>精准卡航</span>
                       					<span ng-switch-when='SRF'>精准汽运（短途）</span>
                       					<span ng-switch-when='FSF'>精准城运</span>
                       					<span ng-switch-when='PLF'>汽运偏线</span>
                       					<span ng-switch-when='AF'>精准空运</span>
                       					<span ng-switch-when='WVH'>整车</span>
                       					<span ng-switch-when='DTD'>门对门</span>
                       					<span ng-switch-when='YTY'>厂对厂</span>
                       					<span ng-switch-when='RCP'>3.60特惠件</span>
                       					<span ng-switch-when='PACKAGE'>标准快递</span>
                       				</span>
                       			</div>
                            </div>
                            <div class="row">
                                <div class="col  col-50">提货方式：
                                	<span ng-switch on="waybill.deliveryType">
                       					<span ng-switch-when='SELF_PICKUP'>自提</span>
                       					<span ng-switch-when='PICKFOOR'>送货上门</span>
                       					<span ng-switch-when='PICKSELF'>自提</span>
                       					<span ng-switch-when='PICKONAIEPORT'>机场自提</span>
                       					<span ng-switch-when='PICKNOTUPSTAIRS'>送货（不含上楼）</span>
                       					<span ng-switch-when='PICKUPSTAIRS'>送货上楼</span>
                       					<span ng-switch-when='DELIVER_UP'>送货</span>
                       				</span> </div>
                       				<div class="col  col-50">
                       				货物名称：{{waybill.goodName}}
                       				</div>
                            </div>
                        </div>
                        <div class="p-angle-bending" style="padding-top: 15px;font-size:1.15em;">到达网点信息</div>
                        <div class="angle-bending2" style="min-height: 130px;padding-top:10px;padding-bottom:10px;">
                            <div class="row">
                                <div class="col">到达网点：{{waybill.ladingStationName}}</div>
                            </div>
                            <div class="row">
                                <div class="col">网点电话：{{waybill.ladingStationPhone}} FAX：{{waybill.ladingStationFax}}</div>
                            </div>
                            <div class="row">
                                <div class="col">网点地址：{{waybill.ladingStationAddr}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="center2" style="margin-top:50px;">{{orderTrackNull==true?"亲，没有查到相关运单信息哦":""}}</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  
</body>
</html>