<!DOCTYPE html>
<html>
<head>
    <title>货物追踪查询-德邦</title>
    <meta name="keywords" content="德邦物流单号查询，德邦快递单号查询，95353">
    <meta name="description" content="德邦单号查询，德邦快递单号查询，在线提供德邦单号查询，德邦快递单号查询。">
</head>
<body>

<div  dp-nav-href="#/home" dp-nav-title="货物追踪" load-compent="isShow">
        <div class="dp-content" style="padding-top:70px;padding-left:0px;padding-right:0px;">
            <div hello=""></div>
     <div class="list dp-content-list dp-remove-padding">
         <label class="item-input">
            <input type="text" name="name" placeholder="请输入运单号" ng-model="billNo" 
             required style="font-size:1.07em;">
		</label>
         <div class="dp-market" name="market"></div>
         <button class="button button-full dp-long-button" ng-click="toGoodTrack(billNo)" style="margin-bottom:30px;margin-top:5px;font-size:14px;">
             <b style="font-size:1.23em;">查&nbsp;&nbsp;询</b>
         </button>
	</div>
	
	 <div class="col col-45 list dp-content-list dp-remove-padding" style="font-size:14px"> 
	
	 <b style="font-size:1em;font-weight:900;color: #000">最近查询过的运单：</b>
	 </div>
	 
    <div ng-repeat="x in billNn"   class="dp-content-list dp-remove-padding"style="font-size:14px" >
    	
    	<span ng-click="toGoodsTrack(x.billNo)" style="text-decoration: underline;color: #8E8E8E;font-size: 1em;cursor: pointer;">{{ x.billNo }}</span> 
    	
    	<!-- <div class="angle-bending" style="height: 100px;padding-top:20px;"><span ng-bind-html="waybillNo | rawHtml"></span></div> -->
    </div>
   <div dp-content-footer style="width:100%;"></div>
    
  </div>
</div>
<div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  
</body>
</html>