<head>
    <title>网点查询_地图/列表模式-德邦</title>
    <meta name="keywords" content="德邦物流网点查询，德邦快递网点查询，德邦物流快递网点地图查询，95353">
    <meta name="description" content="德邦网点查询，德邦快递网点查询，德邦网点地图查询，在地图中查询德邦的网点，更方便、直观的解决客户需求，帮助客户查询德邦网点。">
</head>
<ion-view class="{{mapScroll}}" dp-nav-href="#/" dp-nav-title="网点查询" load-compent="isShow">

	<ion-content class="dp-map-content" >
	
		<div class="button-bar bar-light dp-map-padding nonePadding" style="margin-top: 63px; width: 90%; margin-left: 5%;font-size:14px;">
			<a class="button {{switch1}} docList" ng-click="switchType(1)" style="border-radius: 5px 0px 0px 5px;font-size:1.15em;">列表查询</a> <a class="button {{switch2}} history" ng-click="switchType(2)" style="border-radius: 0px 5px 5px 0px;font-size:1.15em;">地图查询</a>
		</div>
		<div class="lists dp-branchesarea-list dp-map-padding nonePadding">
			<label class="item-input item-icon-right input-label" style="font-size:14px;">
				<input type="text" placeholder="请选择城市和区域" name="areaValues" ng-model="area.sendcity" ng-click="openModal()" ng-focus="inFocus($event)" readonly="readonly" class="address" style="font-size:1.08em;">
				<input type=hidden name="" ng-model="area.sendcityCode">
				
			</label>
		</div>
		<div class="account item-button-right dp-content-find dp-map-padding nonePadding">
			<label class="item item-input account-label">
				<input type="text" placeholder="街道/营业部/电话…" ng-model="keyWords" class="account-input" style="font-size:1.07em;">
			</label>
			<button class="button searshBtn" ng-click="queryBranches(keyWords,area.sendcityCode,area.sendcity,0)" style="font-size:1em;">查询</button>
		</div>
		<div dp-content-footer>
		<div id="mapContainer"></div>
		<div class="dp-map" ng-if="showMap">
		
			<div class="dp-map-dotquery" ng-repeat="item in mapBranches" style="font-size:14px;">
				<h3 class="name" style="font-size:1.07em;">{{item.name}}</h3>
				<div class="row">
					<label class="item item-input col dp-col" style="padding-left:20px;display:block;">
					<img src="img/ic_branch_addr.png" width="25px" height="25px" style="border: 0px none;float:left;">
					<h2 style="font-size:14px;"><p style="overflow:visible;text-overflow:initial;white-space:normal;font-size:1em;color:#000;">{{item.location_address}}</p></h2>
				</label>
				<label class="item item-input col dp-col" style="display:block;">
						<img src="img/distance.png" width="25px" height="25px" style="border: 0px none;float:left;">
						<h2 style="float:left;height:25px;line-height:20px;font-size:1em;">{{item.distance}}</h2>
				</label>
				</div>
				<div class="row">
					<label class="item item-input col dp-col" style="display:block;">
						<img src="img/ic_branch_type.png" width="25px" height="25px" style="border: 0px none;float:left;">
						<h2 style="float:left;height:25px;line-height:20px;font-size:1em;">{{item.business}}</h2>
					</label>
					<div class="item item-input col dp-col" style="display:block;background:transparent;">
						<div style="float:left;"><img src="img/ic_branch_tel.png" width="25px" height="25px" style="border: 0px none;float:left;" /></div>
						<div style="float:left;width:70px;"><a ng-repeat="tel in item.telephone" href="tel:{{tel}}" style="text-decoration: none;display:block;float:left;"><h2 style="font-size:14px;"><p style="color: #3194FE;font-size:1em;">{{tel}} </p></h2></a></div>
					</div>
				</div>
				<div class="row">
					<div class="col btnCenter">
						<button class="button-icon addBtnBg" ng-click="check2()">立即下单</button>
					</div>
					<div class="col btnCenter">
						<button class="button-icon addBtnBg" ng-click="routeMap('{{item.location_longitude}}','{{item.location_latitude}}','{{item.name}}','{{item.location_address}}','{{item.business}}','{{item.oldtel}}','{{item.distance}}')">到这里去</button>
					</div>
				</div>
			</div>
		</div>
		<div class="branches" ng-if="showBranches">
				<div class="item-button-left dp-information-branches itemBranches" ng-repeat="item in branches">
					<label class="item item-input">
						<h2 style="font-size:1.1em;">{{item.name}}</h2>
					</label>
					<label class="item item-input" style="display:block;">
						<img src="img/ic_branch_addr.png" width="25px" height="25px" style="border: 0px none;float:left;">
						<!--  <input type="text"
                             ng-model="userName1">-->
						<h2 style="font-size:14px;"><p class="fontSize" style="overflow:visible;text-overflow:initial;white-space:normal;padding-right:5px;font-size:1.05em">{{item.location_address}}</p></h2>
					</label>
					<label class="item item-input" style="display:block;">
						<img src="img/ic_branch_type.png" width="25px" height="25px" style="border: 0px none;float:left;">

						<h2 style="width:150px;float:left;font-size:14px;"><p class="fontSize" style="font-size:1.05em;">{{item.business}}</p></h2>
						<h2 style="margin-bottom:2px;font-size:14px;"><p class="fontSize" style="font-size:1.05em;">距离:{{item.distance}}</p></h2>
						<!-- <input type="text"
                            placeholder="可自提" ng-model="userName2">-->
					</label>
					<div class="item " style="display: -webkit-box;display: -webkit-flex;display: block;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;-moz-align-items: center;

align-items: center;position: relative;overflow: hidden;padding: 6px 0 5px 16px;">
						<img src="img/ic_branch_tel.png" width="25px" height="25px" style="border: 0px none;float:left;" />

						<a ng-repeat="tel in item.telephone" href="tel:{{tel}}" style="text-decoration: none;display:block;float:left;margin-right:10px;"><h2 style="font-size:14px;"><p class="fontSize" style="color: #3194FE;font-size:1.05em;">{{tel}} </p></h2></a>

						<!--<input type="text"
                           placeholder="电话" ng-model="userName3">-->
					</div>

					<div class="row">
						<div class="col btnCenter">
							<button class="button-icon addBtnBg" ng-click="check2()">立即下单</button>
						</div>
						<div class="col btnCenter">
							<button class="button-icon addBtnBg" ng-click="goHere('{{item.location_longitude}}','{{item.location_latitude}}','{{item.name}}','{{item.location_address}}','{{item.business}}','{{item.oldtel}}','{{item.distance}}')">到这里去</button>
							<!-- 					ng-click="switchType(2)" -->

						</div>
					</div>
				</div>
                <div style="text-align: center;margin-top: 40px"><p style="color:#3194FE;" ng-bind="loadMoreWord"></p></div>
		</div>
		</div>
		<ion-infinite-scroll ng-if="hasMoreData()" on-infinite="queryBranches(keyWords,area.sendcityCode,area.sendcity)" icon="ion-loading-c" distance="5%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>
<div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  