<ion-modal-view>
<ion-view dp-nav-modal="realcloseModal()" dp-nav-title="查询结果"> <!--  dp-back-nav-href="realcloseModal()"  -->
        <ion-content
                class="dp-content dp-priceResult-content">
              
            <div hello=""></div>
            <div class="dp-content-list dp-padding" ng-hide="dishide">
                <div ng-repeat="item in prices | orderBy: 'sort'" style="font-size:14px;">
                    <div class="p-angle-bending" style="font-size:1.15em;">{{item.shippingMode}}</div>
                    <div class="angle-bending">
                        <div ng-if="item.modeCode=='AIR_FREIGHT'">
                            <div class="row">
                                <div class="col dp-span-color">{{item.priceList}}</div>
                            </div>
                        </div>
                        <div ng-if="item.modeCode=='PACKAGE'||item.modeCode=='RCP'" style="font-size:1.07em;" class="fontSize">
                            	<div class="row">
                                    <div class="col"><span class="dp-span-color" ng-bind-html="item.priceList | rawHtml"></span></div>
                                </div>
                                <div class="row" >
                                    <div class="col"><span class="dp-span-color" ng-bind-html="item.priceListNext | rawHtml"></span></div>
                                </div>
                                <div class="row">
                                    <div class="col"><span class="dp-span-color" ng-bind-html="item.shippingPrice | rawHtml"></span></div>
                                 </div>
                                <div class="row">
                                    <div class="col"><span class="dp-span-color" ng-bind-html="item.daysCost | rawHtml"></span></div>
                                </div>
                                <div class="row">
                                    <div class="col"><span class="dp-span-color" ng-bind-html="item.daysCostSent | rawHtml"></span></div>
                                </div>
                          </div>
                        <div ng-if="item.modeCode!='AIR_FREIGHT'&&item.modeCode!='PACKAGE'&&item.modeCode!='RCP'" style="font-size:1.07em;" class="fontSize">
                            	<div class="row">
                                    <div class="col col-50"><span class="dp-span-color" ng-bind-html="item.priceList | rawHtml"></span></div>
                                    <div class="col col-50"><span class="dp-span-color" ng-bind-html="item.priceListNext | rawHtml"></span></div>
                                </div>
                                <div class="row" >
                                    <div class="col col-50"><span class="dp-span-color" ng-bind-html="item.shippingPrice | rawHtml"></span></div>
                                    <div class="col col-50"><span class="dp-span-color" ng-bind-html="item.receiveshippingPrice | rawHtml"></span></div>
                                </div>
                                <div class="row">
                                    <div class="col"><span class="dp-span-color" ng-bind-html="item.daysCost | rawHtml"></span></div>
                                </div>
                                <div class="row">
                                    <div class="col"><span class="dp-span-color" ng-bind-html="item.daysCostSent | rawHtml"></span></div>
                                </div>
                          </div>
                    </div>
                </div>
                <div class="center" ng-show="nullArea" style="font-size:1em;">亲，没有找到对应的价格时效信息哦</div>
                <div style="text-align: center">
                    <button class="button  dp-order-button" style="width: 49%;margin-top: 25px! important;" ng-click="check2()">
                        <b>我&nbsp;&nbsp;要&nbsp;&nbsp;下&nbsp;&nbsp;单</b>
                    </button>
                    <button class="button  dp-order-button" style="width: 49%;margin-left: 0.5%;margin-top: 25px! important;" ng-click="select2()" ng-hide="nullArea">
                        <b>运&nbsp;&nbsp;费&nbsp;&nbsp;估&nbsp;&nbsp;算</b>
                    </button>
                </div>
                <div>
                    <div class="p-angle-bending" style="font-size: 1.2em;margin-top: 10px;">说明：</div>
                    <div class="p-angle-bending-text dp-span-color fontSize" style="font-size:1em;">该城市有部分区域价格与此公布价不一致；
                        此价格与时效仅供参考，普通客户准确报价以营业部电话咨询为准，月结客户以签订协议中的报价为准。
                    </div>
                </div>
            </div>
            <div class="dp-content-list dp-padding" ng-hide="dishide2">
                <div ng-repeat="item in prices | orderBy: 'sort'" style="font-size:14px;">
                <div ng-if="item.modeCode!='AIR_FREIGHT'">
                    <div class="p-angle-bending" style="font-size:1.15em;">{{item.shippingMode}}</div>
                    <div class="angle-bending fontSize" style="font-size:1.07em;">
                        <div class="row">
                            <div class="col">
                                <span class="dp-span-color"  ng-bind-html="item.transCost | rawHtml"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="dp-span-color"  ng-bind-html="item.countMoney | rawHtml"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="dp-span-color"  ng-bind-html="item.daysCost | rawHtml"></span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="center" ng-show="nullArea">亲，没有找到对应的价格时效信息哦</div>
                <button class="button button-full dp-long-button" ng-click="check2()">
                    <b class="calculate" style="font-size:1em;">我要下单</b>
                </button>
            </div>
            <div dp-content-footer></div>
        </ion-content>
        
        </ion-view>
    </ion-modal-view>
    <div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  
