<!DOCTYPE html>
<html>
<head>
    <title>价格/时效查询-德邦</title>
    <meta name="keywords" content="德邦物流价格查询,德邦快递价格查询，95353">
    <meta name="description" content="德邦价格/时效查询，德邦快递价格/时效查询，在线提供德邦价格/时效查询，德邦快递价格/时效查询，方便客户了解德邦最新价格的计算方式，计算单位等，查询德邦价格/时效，就在德邦价格/时效查询。">
</head>
<body>

<form name="time" novalidate>
<div  dp-nav-href="#/" dp-nav-title="价格时效查询"  load-compent="isShow">
    <div class="dp-content-notop" style="margin-top: 25px;width:100%;padding-left:0px;padding-right:0px;">
        <div dp-content-footer>
            <div class="list dp-receive-list" style="padding-left:3.7%;padding-right:3.7%;font-size:14px;">
                <div class="dp-div item-input item-icon-right " style="font-size:1em;">
                    <span class="dp-required">*</span>

                    <div class="dp-text-width" >发货城市：</div>
                    <div class="inputArea"><a  ng-click="openModal(1)">
                    <i class="icon"><img src="img/ic_area.png" style="cursor:pointer;width:32px;height:32px;padding-right:0px;margin-top:8px;"></i>
                    <input
                            type="text" placeholder="请选择省市区信息" ng-model="sel.arrivedAreaName" readonly="readonly"
                            required class="bgColor fontSize"><input type="hidden" ng-model="sel.arrivedAreaCode" ></a></div>
                </div>
                <div class="dp-div item-input item-icon-right" style="margin-top: 10px;font-size:1em;">
                    <span class="dp-required">*</span>

                    <div class="dp-text-width">到达城市：</div>
                    <div class="inputArea" ><a ng-click="openModal(2)">
                    <i class="icon"><img src="img/ic_area.png"style="cursor:pointer;width:32px;height:32px;padding-right:0px;margin-top:8px;"></i>
                    <input
                            type="text" placeholder="请选择省市区信息" ng-model="sel.leavedAreaName" readonly="readonly"
                            required class="bgColor fontSize" ><input type="hidden" ng-model="sel.leavedAreaCode"></a></div>
                </div>
            </div>
            <div style="padding:0 3.7%;font-size:1em;" ng-click="select()">运费估算&nbsp;<a ng-click="select()">
            <img src="img/{{ionarrow}}.png" style="width:15px;height:8px" ng-click="select()"/><!-- <i class="icon ion-arrow-down-b" ng-click="select()"></i> -->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
            <div class="list dp-receive-list" ng-hide="myVal" style="margin-top: 15px;padding-left:3.7%;padding-right:3.7%;font-size:14px;">
                <div class="dp-div item-input  item-icon-right">
                    <!-- <span class="dp-required">*</span> -->
                    <div class="dp-text-width2 dp-text-padding">重量：</div>
                    <div class="inputArea"><input type="{{isIOS}}" ng-pattern="/(^\d+$)|(^\d+\.\d+$)|(^\.\d+$)/" class="bgColor fontSize"  name="weight" ng-model="sel.weight" ng-blur="checkWeight()" min="0"></div><span style="padding-left:2px;">kg</span>
                </div>
                <div class=" dp-div item-input item-icon-right dp-label-margintop">
                   <!--  <span class="dp-required">*</span> -->
                    <div class="dp-text-width2 dp-text-padding">体积：</div>
                    <div class="inputArea"><input type="{{isIOS}}"
                               class="bgColor fontSize" ng-pattern="/(^\d+$)|(^\d+\.\d+$)|(^\.\d+$)/" ng-blur="checkVolume()" ng-model="sel.volume" name="volume"></div><span style="padding-left:2px;">m³</span><!-- placeholder="长*宽*高cm" -->
                </div>
                <div class="dp-div item-input item-icon-right dp-label-margintop">
                    <!-- <span class="dp-required">*</span> -->
                    <div class="dp-text-width2 dp-text-padding">保价声明：</div>
                    <div class="inputArea"><input type="{{isIOS}}"
                              placeholder="请按照货物实际价值填写" class="bgColor fontSize" maxlength="7" ng-pattern="/(^\d+$)|(^\d+\.\d+$)|(^\.\d+$)/" ng-blur="checkInsured()" ng-model="sel.insured_money" name="insured_money"></div><span style="padding-left:2px;">元</span>
                </div>
                <div class="dp-div item-input item-icon-right dp-label-margintop">
                    <div class="dp-text-width2 dp-text-padding">代收货款：</div>
                    <div class="inputArea">
                        <div class="item-input2 select-box">
                            <img src="img/ic_ion-arrow-down-b.png">
                            <select class="fontSize" data-ng-model="sel.agent_type2" data-ng-options="m.id as m.typeName for m in agentTypeModel">
                            </select></div>
                        <div class="item-input3"><input type="{{isIOS}}"  class="bgColor" name="agent_money"
                                                        ng-model="sel.agent_money" ng-pattern="/(^\d+$)|(^\d+\.\d+$)|(^\.\d+$)/" ng-blur="checkMoney()"></div><!-- placeholder="请按货物" -->
                    </div><span style="padding-left:2px;">元</span>
                </div>
                <div class="dp-div item-input item-icon-right dp-label-margintop">
                    <div class="dp-text-width2 dp-text-padding">签单返还：</div>
                    <div class="inputArea select-box">
                    <img src="img/ic_ion-arrow-down-b.png">
                    <select  style="width:100%;" class="fontSize" data-ng-model="sel.sign_back"  data-ng-options="m.id as m.typeName for m in signBackModel">
                   </select></div>
                </div>
            </div>
            <div class="dp-market" name="market"></div>
            <button class="button button-full dp-long-button" ng-click="realopenModal()" style="width:92.6%;margin-left:3.7%;">
                <b> 查&nbsp;&nbsp;询</b>
            </button>
            <div class="p-angle-bending-text33 dp-span-color fontSize" style="padding:0 3.7%;padding-top:20px;font-size:1em;margin-bottom:80px;">备注：我们的工作人员会在接货时重新称重，此估算仅供参考。</div>        

       </div>
    </div>
</div></form>
<div class="container">
  <div ng-include="'templates/baiDuCount.html'"></div>
  
</div>  
</body>
</html>